{% load static %}
    {% csrf_token %}
    {{ formset.management_form }}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        {% if formset.errors %}
        <div class="alert alert-danger">
            {{ formset.non_form_errors }}
        </div>
    {% endif %}

    <div class="form-group {% if form.name.errors %}has-error {% endif %}{% if form.name.errors %}has-error{% endif %}">
        <div class="row">
            <div class="col-xs-10">
                <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <span class="help-block color-danger">{{ form.name.errors.as_text }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group {% if form.email.errors or form.phone.errors %}has-error{% endif %}">
        <div class="row">
            <div class="col-xs-5">
                <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <span class="help-block color-danger">{{ form.email.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="col-xs-5">
                <label for="{{ form.phone.id_for_label }}" class="control-label">{{ form.phone.label }}</label>
                {{ form.phone }}
                {% if form.phone.errors %}
                    <span class="help-block color-danger">{{ form.phone.errors.as_text }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="row">
            <table class="table table-bordered table-striped">
                {% for form in formset %}
                    {% if forloop.first %}
                        <thead>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                    {% endif %}

                    <tr>
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}

                                {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ field.errors.as_text }}
                                </div>
                                {% endif %}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                    {% if forloop.last %}
                    </tbody>
                    {% endif %}
                {% endfor %}
            </table>
            <div class="formset-prefix" style="display:none" prefix="{{ formset.prefix }}"></div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Fazer inscrição" />
