{% extends 'base.html' %}

{% block meta_title %}Pré-inscrição: {{ inscription.tournament }}{% endblock meta_title %}

{% block main %}
    <h2>Pré-Inscrição realizada com sucesso.</h2>

    <p>Olá {{ inscription.name }}, tudo bem?</p>
    <p>Recebemos seu pedido de pré-inscrição no <strong>{{ inscription.tournament }}</strong>.</p>
    <p>Lembramos que para participar do torneio, é obrigatório que o jogador esteja em dia com sua
    <a href="http://www.cbx.org.br/Jogadores.aspx?nm=&no={{ inscription.id_cbx }}&fi=&uf="
       title="Consulte o estado de sua anuidade CBX" target="_blank">anuidade de jogador CBX</a>.</p>

    Caso não saiba o que é o cadastro de jogadores CBX</a>, nós explicamos!
    <p>Veja em nosso blog <a href="http://estavos.com/blog/o-que-e-o-cadastro-de-jogadores-cbx-e-como-fazer/" target="_blank"
       title="O que é o Cadastro de Jogadores CBX ou como fazer"><strong>O que é o cadastro de jogadores CBX e como fazer!</strong></a></p>

    <p>Para confirmar sua inscrição você pode efetuar o pagamento da taxa via depósito/transferência, boleto ou utilizando
    seu cartão de crédito em uma compra segura através da plataforma PagSeguro do UOL.</p>

    <div class="row">
        <div class="col-md-6">
            <h4>Compra online protegida</h4>
            <div class="row">
                <div class="col-md-4">
                    <a href="https://pag.ae/bgQPB3" target="_blank">
                    <img src="https://stc.pagseguro.uol.com.br/public/img/banners/pagamento/avista_estatico_130_230.gif"
                         alt="Logotipos de meios de pagamento do PagSeguro"
                         title="Este site aceita pagamentos com Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC,
                         saldo em conta PagSeguro e boleto.">
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-lg" href="https://pag.ae/bgQPB3" target="_blank">Pagar online via PagSeguro</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Depósito/Transferência</h4>
            <p>Para confirmar sua inscrição você deve fazer o depósito da taxa de inscrição na conta bancária a seguir e
            enviar o comprovante para o email <strong>torneios@estavos.com</strong>.</p>

            <p><strong>Caixa Econômica Federal</strong></p>
            <ul>
                <li><strong>Ag</strong>: 1803</li>
                <li><strong>Cc</strong>: 227-8</li>
                <li><strong>Op</strong>: 003</li>
                <li><strong>CNPJ</strong>: 18.157.637/0001-51</li>
            </ul>
            <p><strong>ESTAVOS Organizadora de Eventos Desportivos</strong></p>
        </div>
    </div>

    <p><strong>Observação</strong>: Após o pagamento você receberá a confirmação de inscrição em até 24h.</p>

    <h3>O evento</h3>
    <p>O evento tem início no dia
        <strong>
        {{ inscription.tournament.start_date|date:"d/m/Y" }} às {{ inscription.tournament.start_date|date:"H:m" }},
        </strong>
        mas recomendamos que chegue com pelo menos 30 minutos de antecedência.</p>

    <p>Nosso evento acontece no {{ inscription.tournament.place }}.</p>

    <p>Qualquer dúvida estamos à disposição através de nossos <a href="http://estavos.com/contato/" title="contato">
        canais de atendimento</a></p>

    <p><strong>Estamos esperando por você!</strong></p>

    <a class="btn btn-default"
       href="{% url 'tournaments:detail' inscription.tournament.slug %}"
       title="Voltar para página do evento">
        Voltar para página do evento
    </a>
{% endblock main %}