{% extends 'base.html' %}

{% load static %}

{% block title %}Torneios{% endblock title %}
{% block meta_title %}Torneios{% endblock meta_title %}

{% block main %}

    <h2>Torneios ativos</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Data</th>
                <th>Local</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="{{ object.url }}" title="{{ object.title }}"><strong>{{ object.title }}</strong></a></td>
                <td>{{ object.start_date|date:"d/m/Y" }} a {{ object.end_date|date:"d/m/Y" }}</td>
                <td>{{ object.place }}</td>
                <td>
                    <a href="{% url 'tournaments:inscription_new' object.pk %}" title="Inscrição: {{ object.title }}"
                       class="btn btn-primary">
                        Inscrição
                    </a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        Nenhum torneio ativo no momento.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Encerrados</h2>
    {% for tournament in inactive_tournaments %}
        <h5>
            <a href="{{ tournament.url }}" title="{{ tournament.title }}">
                {{ tournament.title }}
            </a>
        </h5>
        <p>{{ tournament.description }}</p>
    {% empty %}
        <p>Nenhum torneio para exibir</p>
    {% endfor %}

{% endblock main %}