{% extends 'base.html' %}

{% load static pages_tags itemsbycolumn %}

{% block title %}{{ object.title }}{% endblock title %}

{% block meta_title %}{{ object.title }}{% endblock meta_title %}


{% block special_header %}
<div class="fullsize">
  <div data-stellar-background-ratio="0.2"
       class="page-header fancy-header parallax-wrapper parallax-background-irt-brasiliense-amador"
       style="background-position: 0% -195.84px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-title">{{ object.title }}</h1>
          <h2 class="page-subtitle">{{ object.short_description }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock special_header %}


{% block all_content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">

      {% if request.user.is_superuser %}
        <div class="container container-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm"><a href="{% url 'tournaments:inscriptions_control_list' object.pk %}"><strong>Gerenciar inscritos</strong></a></div>
                </div>
            </div>
        </div>
      {% endif %}

        <div class="container container-inner">
          <div class="row">
            <div class="col-md-8">

            <div class="jumbotron">
                <h1 class="display-3">{% if tournament.active %}Inscreva-se!{% else %}Inscrições Encerradas{% endif %}</h1>
                <p class="lead">{{ object.description }}</p>
                {% if tournament.active %}
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'tournaments:inscription_new' object.id %}" role="button">Faça sua inscrição online!</a>
                  </p>
                <p>Aceitamos várias formas de pagamento</p>
                <img src="https://stc.pagseguro.uol.com.br/public/img/banners/pagamento/avista_estatico_550_70.gif"
                alt="Logotipos de meios de pagamento do PagSeguro"
                title="Este site aceita pagamentos com Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC,
                saldo em conta PagSeguro e boleto." />
                {% endif %}
              </div>
            </div>

            <div class="col-md-4">
              <!-- sidebar -->
              <div class="sidebar">

                {% if object.objective %}
                <div class="sidebar-widget">
                  <h3 class="title-color">
                    <i class="fa fa-check"></i>
                    <strong>Objetivos</strong>
                  </h3>
                  <p>{{ object.objective }}</p>
                </div>
                {% endif %}


                <div class="sidebar-widget">
                  <h3 class="title-color">
                    <i class="fa fa-calendar"></i>
                    <strong>Quando?</strong>
                  </h3>
                  <p><strong>Início</strong>: {{ object.start_date }}</p>
                  <p><strong>Fim</strong>: {{ object.end_date }}</p>
                </div>

                <div class="sidebar-widget">
                  <h3 class="title-color">
                    <i class="fa fa-map-marker"></i>
                    <strong>Onde?</strong>
                  </h3>
                  <p>{{ object.place }}</p>
                </div>

                <div class="sidebar-widget">
                  <h3 class="title-color">
                    <i class="fa fa-file-text-o"></i>
                    <strong>Regulamento</strong>
                  </h3>
                  <a href="{{ object.rule }}" target="_blank">Faça download do regulamento</a>
                </div>

              </div>
              <!-- /sidebar -->
            </div>
          </div>
        </div>

        {% with prizes=object.prizes.all %}
        {% if prizes %}
        <div class="container container-inner">
          <h2 class="title-color heading-single text-center"><span><strong>Premiação</strong></span></h2>
          <div class="row">
            {% for prize in prizes %}
            <div class="col-md-{{ prizes.count|colum_for_items }}">
                <div class="service-block sb-default">
                  <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-default">
                      {% if prize.icon %}
                        <i class="fa {{ prize.icon }}"></i>
                      {% endif %}
                    </div>
                  </div>
                  <div class="service-block-title">
                    <p class="text-center">{{ prize.title }}</p>
                  </div>
                  <div class="service-block-content">
                    <p class="text-center">{{ prize.description }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}

        {% with prices=object.available_prices.all %}
        {% if prices %}
        <!-- Inscrições -->
        <div class="container container-inner">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title-color heading-single text-center"><span><strong>Inscrições</strong></span></h2>
              <ul class="pricing-table pricing-columns-{{ prices.count }}">
                {% for price in prices %}
                <li class="pricing-plan">
                  <ul class="pricing-container">
                    <li class="pricing-title {% if price.active %}bg-color-default{% endif %}">
                      <div class="icon-wrapper icon-border-round fa-2x">
                        <i class="fa fa-ticket"></i>
                      </div>
                      <p>{{ price.title }}</p>
                    </li>
                    <li class="pricing-value">
                      <p class="value">{% if price.half %}<span>R$</span>{{ price.half }} / {% endif %}<span>R$</span>{{ price.full }}</p>
                      {% if price.active %}
                        <p class="period">até {{ price.limit_date }}</p>
                        {% if tournament.active %}
                        <p class="lead">
                          <a class="btn btn-primary btn-lg" href="{% url 'tournaments:inscription_new' object.id %}" role="button">Faça sua inscrição online!</a>
                        </p>
                        {% endif %}
                      {% endif %}
                    </li>
                    <br />
                    {% if price.notes %}
                    <p>{{ price.notes }}</p>
                    {% endif %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <!-- / Inscrições -->
        {% endif %}
        {% endwith %}
        <div class="container container-inner">
          <div class="row">
            {% if schedules %}
            <div class="col-md-6">
              <h2 class="title-color heading-single text-center"><span><strong>Programação</strong></span></h2>
              {% for schedule in schedules %}
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th colspan="2">{{ schedule.date }}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for activity in schedule.activities %}
                      <tr>
                          <td class="col-xs-1">{{ activity.hour }}</td>
                          <td>{{ activity.activity }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% endfor %}
            </div>
            {% endif %}

            <div class="col-md-6">
              <h2 class="title-color heading-single text-center"><span><strong>Informações gerais</strong></span></h2>

              <div id="accordion" class="panel-group accordion">
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseOne"
                         data-parent="#accordion"
                         data-toggle="collapse"
                         class="accordion-toggle collapsed-icon">
                        <small>Modalidade</small>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse in" id="collapseOne" style="height: auto;">
                    <div class="panel-body">
                      <p>{{ object.get_modality_display }}</p>
                    </div>
                  </div>
                </div>
                {% if object.game_time %}
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed-icon collapsed">
                        <small>Tempo de reflexão</small>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
                    <div class="panel-body">
                      <p>{{ object.game_time }}</p>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if object.pairing %}
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed-icon collapsed">
                        <small>Sistema de disputa</small>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                    <div class="panel-body">
                      <p>{{ object.pairing }}</p>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if object.chess_results %}
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
                        <small>Chess-Results</small>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseFour">
                    <div class="panel-body">
                      <p>
                        <a href="{{ object.chess_results }}" target="_blank"
                           title="{{ object.title }}">
                        <strong>Acompanhe a relação de inscritos e demais informações do torneio no Chess-Results.</strong>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if object.google_maps %}
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
                    <small>Como chegar</small>
                  </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFive">
                  <div class="panel-body">
                    {{ object.google_maps|safe }}
                  </div>
                </div>
              </div>
              {% endif %}
              {% if object.notes %}
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <a href="#collapseNotes" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
                    <small>Observações gerais</small>
                  </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseNotes">
                  <div class="panel-body">
                    {{ object.notes }}
                  </div>
                </div>
              </div>
              {% endif %}
              {% if object.flyer %}
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
                    <small>Divulgue!</small>
                  </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSix">
                  <div class="panel-body">
                    <a href="{{ object.flyer.url }}" target="_blank">
                      <img src="{% static object.flyer.url %}"
                           alt="Banner IRT Brasiliense de Xadrez Amador 2016" width="500" height="707">
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

      </div>
    </div>
  </div>

  <div class="container container-inner">
		<div class="row">
		  <div class="col-md-8 col-md-offset-2">
        <div class="text-center"><img src="{% static 'img/logo-estavos-2.png' %}" alt="Academia ESTAVOS"></div>
        <div class="blank-spacer margin-bottom10"></div>
      </div>
    </div>
	</div>

  <div class="fullsize padding-none"> <!-- Container Full Size -->
    <div class="parallax-wrapper parallax-background-irt-brasiliense-amador" data-stellar-background-ratio="0.2" >
      <div class="parallax-wrapper padding-medium">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="countdown-irt color-white" data-date="2016-06-17 18:30:00"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /Container Full Size-->

  <div class="container container-inner"><!-- Container -->

    <div class="row">

      <div class="col-md-4">
        <div class="service-block sb-default">
          <div class="service-block-icon text-center">
            <img src="{% static 'img/logo-estavos-2.png' %}" height="150" alt="logo ESTAVOS" />
          </div>
          <div class="service-block-title">
            <p class="text-center"><strong>Organização</strong></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-block sb-default">
          <div class="service-block-icon text-center">
            <img src="{% static 'img/torneios/logo-fbx.jpg' %}" height="150" alt="logo FBX" />
          </div>
          <div class="service-block-title">
            <p class="text-center"><strong>Realização</strong></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-block sb-default">
          <div class="service-block-icon text-center">
            <img src="{% static 'img/torneios/venancio-logo.jpg' %}" height="150" alt="logo Venâncio Shopping" />
          </div>
          <div class="service-block-title">
            <p class="text-center"><strong>Apoio</strong></p>
          </div>
        </div>
      </div>
      </div>
    </div>

{% endblock all_content %}

{% block extra_js %}

  <!-- Timer -->
	<script type="text/javascript" src="{% static 'js/themejs/TimeCircles.js' %}"></script>
  <script>
    jQuery(".countdown-irt").TimeCircles({
      start: true, // determines whether or not TimeCircles should start immediately.
      refresh_interval: 0.1, // determines how frequently TimeCircles is updated.
      count_past_zero: true, // This option is only really useful for when counting down. What it does is either give you the option to stop the timer, or start counting up after you've hit the predefined date (or your stopwatch hits zero).
      circle_bg_color: "#fff", // determines the color of the background circle.
      use_background: true, // sets whether any background circle should be drawn at all.
      fg_width: 0.05, //  sets the width of the foreground circle.
      bg_width: 0.1, // sets the width of the backgroundground circle.
      time: { //  a group of options that allows you to control the options of each time unit independently.
        Days: {
          show: true,
          text: "Dias",
          color: "#20a5e8"
        },
        Hours: {
          show: true,
          text: "Horas",
          color: "#20a5e8"
        },
        Minutes: {
          show: true,
          text: "Minutos",
          color: "#20a5e8"
        },
        Seconds: {
          show: true,
          text: "Segundos",
          color: "#20a5e8"
        }
      }
    })
  </script>
{% endblock extra_js %}
