DEBUG=True
SECRET_KEY=THIS_SECRET_KEY_IS_NOT_SECURE
ALLOWED_HOSTS=.localhost, 127.0.0.1
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
PAGSEGURO_EMAIL=seu@email.com
PAGSEGURO_TOKEN=hdjfa232
PAGSEGURO_SANDBOX=True
PAGSEGURO_LOG_IN_MODEL=True
GAPI_SERVICE_ACCOUNT_FILE=client_secret_sample.json
