{% extends 'base.html' %}

{% block main %}
    <h2>Lista de atividades</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Atividade</th>
            <th>Categoria</th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Duração</th>
            <th>Valor</th>
            <th>Transporte</th>
            <th>Total</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ object.description }}</td>
            <td>{{ object.category }}</td>
            <td>{{ object.date }}</td>
            <td>{{ object.category }}</td>
            <td>{{ object.duration }}</td>
            <td>{{ object.category.value }}</td>
            <td>{{ object.transport }}</td>
            <td>{{ object.sub_total }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock main %}