.footer-navigation li {
    margin-bottom: 0 !important;
}

.footer-navigation li a {
    color: #4B9948;
}

.footer-navigation li a:hover {
    color: #085B41;
}

.editable-original {
    margin-bottom: 2em;
}

.modal-footer .btn + .btn {
    margin-bottom: 10px;
}

/*.simple-caroursel {*/
    /*min-height: 155px;*/
/*}*/