{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
    <li><a href="/blog/">{% trans "Blog" %}</a></li>
{% if tag or category or year or month or author %}
    <li>
        {% spaceless %}
        {% if tag %}
            {% trans "Tag:" %} {{ tag }}
        {% else %}
            {% if category %}
                {% trans "Category:" %} {{ category }}
            {% else %}
                {% if year or month %}
                    {% if month %}{{ month }},{% endif %}
                    {{ year }}
                {% else %}
                    {% if author %}
                        {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% endspaceless %}
    </li>
{% endif %}
{% endblock %}

{% block all_content %}

<div class="post_section clearfix">
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-8 post_left">
            <div class="post_left_section post_left_border">
            {% if tag or category or year or month or author %}
                {% block blog_post_list_filterinfo %}
                <p>
                {% if tag %}
                    {% trans "Viewing posts tagged" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Viewing posts for the category" %} {{ category }}
                {% else %}{% if year or month %}
                    {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                    {{ year }}
                {% else %}{% if author %}
                    {% trans "Viewing posts by" %}
                    {{ author.get_full_name|default:author.username }}
                {% endif %}{% endif %}{% endif %}{% endif %}
                {% endblock %}
                </p>
            {% else %}
                {% if page %}
                    {% block blog_post_list_pagecontent %}
                    {% if page.get_content_model.content %}
                        {% editable page.get_content_model.content %}
                        {{ page.get_content_model.content|richtext_filters|safe }}
                        {% endeditable %}
                    {% endif %}
                    {% endblock %}
                {% endif %}
            {% endif %}

            {% for blog_post in blog_posts.object_list %}

            <div class="post">
                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                <div class="post_thumb">
                    {% block blog_post_list_post_featured_image %}
                    <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 770 450 %}" alt="" />
                    {% endblock %}
                </div><!--end post thumb-->
                {% endif %}
                <div class="meta">
                    <span class="author">
                        {% with blog_post.user as author %}
                            Por: <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                        {% endwith %}
                    </span>
                    {% with blog_post.categories.all as categories %}
                    {% if categories %}
                    {% trans "in" %}
                    {% for category in categories %}
                    <span class="category"> <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <span class="date">Posted: <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.publish_date|date:"d/m/Y" }}</a></span>
                </div><!--end meta-->
                <h1><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h1>
                <div class="post_desc">
                    {% block blog_post_list_post_content %}
                        {% editable blog_post.content %}
                        <p>{{ blog_post.description }}</p>
                        {% endeditable %}
                    {% endblock %}
                </div><!--end post desc-->
                <div class="post_bottom">
                    <a class="btn btn-default btn-lg" href="{{ blog_post.get_absolute_url }}">
                        Leia mais <i class="fa fa-margin-left fa-arrow-circle-right"></i>
                    </a>
                </div><!--end post bottom-->
            </div><!--end post-->
            {% endfor %}

            {% pagination_for blog_posts %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 post_right">
            <div class="post_right_inner">
                <div class="related_post_sec">
                    {% include "blog/includes/filter_panel.html" %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock all_content %}
