{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags staticfiles %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
    <li><a href="/blog/">{% trans "Blog" %}</a></li>
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block all_content %}

<div class="post_section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 post_left">
                <div class="post_left_section post_left_border">
                    <div class="post single_post">
                        {% block blog_post_detail_featured_image %}
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                        <div class="post_thumb">
                            {% block blog_post_list_post_featured_image %}
                            <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 770 450 %}" alt="" />
                            {% endblock %}
                        </div><!--end post thumb-->
                        {% endif %}
                        {% endblock %}
                        <div class="meta">
                            <span class="author">
                                {% with blog_post.user as author %}
                                    Por: <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                                {% endwith %}
                            </span>
                            {% with blog_post.categories.all as categories %}
                            {% if categories %}
                            {% trans "in" %}
                            {% for category in categories %}
                            <span class="category"> <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <span class="date">Posted: <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.publish_date|date:"d/m/Y" }}</a></span>
                        </div><!--end meta-->
                        <h1><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h1>
                        <div class="post_desc">
                            {% block blog_post_detail_content %}
                            {% editable blog_post.content %}
                                {{ blog_post.content|richtext_filters|safe }}
                            {% endeditable %}
                            {% endblock %}
                        </div><!--end post desc-->
                        <div class="post_bottom">
                            <hr />
                            <h3>Aviso legal</h3>
                            <p>
                                <span>Todos os artigos deste blog são publicados sob a licença
                                    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/br/"
                                        title="Atribuição-NãoComercial-CompartilhaIgual 3.0 Brasil (CC BY-NC-SA 3.0 BR)">
                                    <strong>Creative Commons CC BY-NC-SA 3.0 BR</strong>.
                                    </a>
                                </span>
                                <span> Você pode ler, compartilhar, adaptar e re-publicar para fins não-comerciais desde que citado a fonte
                                        junto com link da publicação original.</span>
                            </p>
                        </div><!--end post bottom-->
                    </div> <!-- end post -->
                    {% block blog_post_detail_related_posts %}
                    {% if related_posts %}
                    <div class="related_post_sec single_post">
                        <h3>{% trans 'Related posts' %}</h3>
                        <ul>
                            {% for post in related_posts %}
                            <li>
                                {% if settings.BLOG_USE_FEATURED_IMAGE and post.featured_image %}
                                <span class="rel_thumb">
                                    <a href=""><img src="{{ MEDIA_URL }}{% thumbnail post.featured_image 224 170 %}" alt=""></a>
                                </span><!--end rel_thumb-->
                                {% endif %}
                                <div class="rel_right">
                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                    <div class="meta">
                                        <span class="author">
                                            {% with post.user as author %}
                                                Por: <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                                            {% endwith %}
                                        </span>
                                        {% with post.categories.all as categories %}
                                        {% if categories %}
                                        {% trans "in" %}
                                        {% for category in categories %}
                                        <span class="category"> <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <p>{{ post.description }}</p>
                                </div><!--end rel right-->
                            </li>
                            {% endfor %}
                        </ul>
                    </div><!--end related post-->
                    {% endif %}
                    {% endblock %}
                    {% block blog_post_detail_commentlink %}
                    {% if blog_post.allow_comments %}
                    <div class="comments-post">
                        <div class="comments-icon"></div>
                        <h3 class="heading-single"><span>Participe de nossa comunidade</span></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="comments-list">
                                    <p>
                                        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                                            (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                                                data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                                                {% trans "Comments" %}
                                            {% endspaceless %}</a>)
                                        {% else %}(<a href="#comments">{% spaceless %}
                                            {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                                            {% endspaceless %}</a>)
                                        {% endif %}
                                    </p>
                                    {% block blog_post_detail_comments %}
                                    {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 post_right">
                <div class="post_right_inner">
                    <div class="related_post_sec">
                        {% include "blog/includes/filter_panel.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end post section-->


{% endblock all_content %}

{% block extra_js %}
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
    {% include "generic/includes/disqus_counts.html" %}
{% endif %}
{% endblock extra_js %}


{% block blog_post_previous_next %}
<ul class="pager">
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}
