{% extends 'base.html' %}

{% load static %}

{% block meta_title %}Curso de Xadrez para Iniciantes{% endblock %}

{% block title %}Curso APRENDA{% endblock %}

{% block all_content %}

<!-- Main Container -->
<div class="main-wrapper">

    <div class="fullsize fullsize-background"> <!-- Full Size Container -->
		<div class=" container container-inner">

            <div class="row">
                <div class="col-md-12">

                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="title-color heading-single text-center"><span>Curso de Xadrez para Iniciantes!</span></h1>
                            <p class="lead text-center">Exercite sua inteligência! <strong>APRENDA</strong> o Esporte dos Reis em <strong>4 encontros!</strong></p>
                            <p class="text-center">
                                <a class="btn btn-default" data-toggle="modal" data-target="#saibamais">
                                    Saiba mais <i class="pl-10 fa fa-info"></i>
                                </a>
                                <a class="btn btn-primary" href="{% url 'courses:list' %}">
                                    Quero me inscrever <i class="pl-10 fa fa-check"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /Title -->

                    <!-- Modal -->
                    <div class="modal fade" id="saibamais" tabindex="-1" role="dialog" aria-labelledby="saibaMais" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                                    <h4 class="modal-title" id="saibaMais">Curso de Xadrez para Iniciantes</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-icons">
                                        <li><i class="icon-check"></i> Turmas para <strong>adultos e crianças</strong></li>
                                        <li><i class="icon-check"></i> O pai que se matricula junto com o filho paga meia! Isso mesmo! Ganha <strong>50% de desconto!</strong></li>
                                        <li><i class="icon-check"></i> Unidades no <strong>Plano Piloto (Brasília)</strong> e <strong>Águas Claras</strong>.</li>
                                        <li><i class="icon-check"></i> O <strong>APRENDA</strong> é composto de <strong>4 aulas</strong>, com duração de 1h30 cada..</li>
                                        <li><i class="icon-check"></i> <strong>Apostila em formato digital exclusiva para alunos do curso</strong> com mais de 80 páginas!</li>
                                        <li><i class="icon-check"></i> Nós oferecemos até <strong>1 (uma)</strong> reposição de aula <strong>GRÁTIS!</strong> Assim mesmo que haja algum imprevisto você não perde nada!</li>
                                        <li><i class="icon-check"></i> Você ainda ganha um <strong>certificado exclusivo</strong> ao final do curso!</li>
                                    </ul>
                                    <p><strong>Está esperando o que para se inscrever? Estamos esperando por você!</strong></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="icon-check"></i> Continuar navegando</button>
                                    <a href="{% url 'courses:list' %}" class="btn btn-sm btn-primary">Quero me inscrever!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Modal -->

                </div>
            </div>

        </div>
    </div> <!-- /Full Size Container -->

    <div class="container container-inner"> <!-- Container -->

        <div class="row">
            <div class="col-md-5">
                <!--
                <p class="lead">No curso <span class="title-color"><strong>APRENDA</strong></span> você vai aprender
                    mais do que apenas as regras básicas e movimentos elementares do jogo, nós iremos fornecer a base
                    para que o aluno possa conduzir corretamente a partida em suas três fases:
                    <span class="title-color"><strong>abertura, meio-jogo e finais</strong></span>.</p>
                -->
                <p class="lead">Matricule-se no <strong>curso APRENDA</strong> e leve para casa
                    inteiramente <strong>grátis um lindo Jogo de Peças de Xadrez</strong>*!
                    Não é sorteio, matriculou -> ganhou!</p>
                <p class="small">¹ Não cumulativo, não é válido para o pai que se matricula junto com o filho
                <p class="small">² Válido para matrículas realizadas até 31/01/2017</p>
            </div>
            <div class="col-md-3">
                <img src="{% static 'courses/img/jogo-de-pecas-xadrez-estavos.png' %}"
                     alt="Jogo de peças de Xadrez - ESTAVOS"
                     class="img-responsive img-circle"/>
            </div>

            <div class="col-md-4">
                <p class="text-center">
                    <a href="/curso-de-xadrez/ementa/" class="btn btn-orange btn-lg margin-top20">
                        Confira a ementa do curso<i class="fa fa-share fa-margin-left"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="row">

        	<div class="col-md-8">

                <h3 class="title-color heading-single margin-top20"><span>Perguntas frequentes</span></h3>

                    <div class="row">
                    	<div class="col-sm-6 col-md-6">
                            <div class="box-icon-wrapper">
                        		<h3 class="color-purple box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-purple"><i class="fa fa-map-marker color-white"></i></span> Onde acontece?
                                </h3>
                            	<p><strong>Plano Piloto</strong></p>
                            	<p><strong>Local:</strong> Núcleo de Xadrez do clube ASCADE</p>
                                <p><i class="fa fa-map-marker"></i> SCES Trecho 2, Conjunto 10, Lote 18 - Asa Sul, Brasília - DF</p>
                                <p><strong>Águas Claras</strong></p>
                                <p><strong>Local:</strong> Kumon Águas Claras - Av. das Castanheiras</p>
                                <p><i class="fa fa-map-marker"></i> Av. das Castanheiras, 820. Ed. Big Center, sala 504. Próximo ao BigBox</p>
							</div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                        	<div class="box-icon-wrapper">
                        		<h3 class="color-orange box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper fa-lg icon-full-round bg-color-orange"><i class="fa fa-clock-o color-white"></i> </span>
                                    Quais são os horários?
                                </h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Unidade</th>
                                            <th>Crianças</th>
                                            <th>Adultos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Plano Piloto</strong></td>
                                            <td>9h - 10h30</td>
                                            <td>10h45 - 12h</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Águas Claras</strong></td>
                                            <td>10h30 - 12h00</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p><strong>Obs</strong>: Na unidade Plano Piloto, enquanto os adultos estão em aula nós disponibilizamos um monitor
                                para ficar com as crianças. Assim você pode fazer o curso junto com seu filho e sem preocupação!</p>
							</div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 col-md-6">
                            <div class="box-icon-wrapper">
                        		<h3 class="title-color box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-default"><i class="fa fa-calendar color-white"></i></span>
                                    Quando começa?
                                </h3>
                                {% if next_course %}<p>A próxima turma tem início no dia <strong>{{ next_course.start_date|date:'d/m/Y' }}</strong>.{% endif %} Escolha a ESTAVOS mais perto de você! <strong>Plano Piloto ou Águas Claras</strong>!</p>
                                <p>Temos {{ num_open_classes }} turma{{ num_open_classes|pluralize:'s' }} com matrículas abertas!</p>
                                <p><strong><a href="{% url 'courses:list' %}">Inscreva-se agora</a></strong> ou</p>
                                <p><strong><a href="/curso-de-xadrez/ementa/" title="Ementa do Curso de Xadrez para Iniciantes">Confira a ementa completa</a></strong>.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                        	<div class="box-icon-wrapper">
                        		<h3 class="color-info box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-info"><i class="fa fa-money color-white"></i></span>Qual o investimento?
                                </h3>
                                <p>Você está adquirindo evolução e saúde para sua mente ou de seu filho.</p>
                            	<p>Temos ofertas especiais para parceiros e pais que se matriculam junto com os filhos.</p>
                                <p><a href="/curso-de-xadrez/precos/"><strong>Consulte nossa tabela de preços</strong></a>.</p>
							</div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 col-md-6">
                            <div class="box-icon-wrapper">
                        		<h3 class="color-danger box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-danger"><i class="fa fa-picture-o color-white"></i></span>Recebo certificado?
                                </h3>
                            	<p>Sim! Todos os alunos inscritos recebem certificado desde que obtenha presença em pelo menos 75% dos encontros.</p>
							</div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="box-icon-wrapper">
                        		<h3 class="color-orange box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-orange"><i class="fa fa-file-o color-white"></i></span> Material exlusivo para alunos do curso
                                </h3>
                            	<p>Os alunos matriculados no curso recebem uma apostila em formato digital exclusiva da ESTAVOS!</p>
							</div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 col-md-6">
                        	<div class="box-icon-wrapper">
                        		<h3 class="color-success box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-success"><i class="fa fa-list-ul color-white"></i></span>Como as turmas são divididas?
                                </h3>
                            	<p>Na unidade Plano Piloto (ASCADE), cada curso do APRENDA é dividido em duas turmas. Uma para adultos e outra para crianças.</p>
                                <p>Dessa forma nosso instrutor pode utilizar didáticas diferentes para que nossos alunos possam ter o máximo de aproveitamento.</p>
                                <p>Na unidade de Águas Claras só há turma para crianças até o momento.</p>
							</div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                        	<div class="box-icon-wrapper">
                        		<h3 class="color-default box-icon-title margin-top20 margin-bottom20 animation fadeInRight animation-active">
                                	<span class="icon-wrapper icon-full-round bg-color-default"><i class="fa fa-question-circle color-white"></i></span>Não sei nada de Xadrez, posso participar?
                                </h3>
                            	<p>Com certeza! O curso é voltado para aqueles que ainda não tiveram contato
                                            com o jogo, bem como para aqueles que conhecem os movimentos e regras básicas
                                            mas desejam buscar uma base sólida para aperfeiçoar seu jogo.</p>
							</div>
                        </div>
                    </div>

            </div>

            <div class="col-md-4">

            	<h3 class="title-color heading-single margin-top20"><span>Sobre Xadrez</span></h3>

                <div class="row">
                	<div class="col-md-12">

						<div id="accordion" class="panel-group accordion accordion-bordered">

                            <div class="panel">
    							<div class="panel-heading">
									<h4 class="panel-title">
									<a href="#collapseZero" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed-icon">
										<small><i class="fa fa-question-circle"></i> O que é Xadrez?</small>
									</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapseZero">
									<div class="panel-body">
                                        <p>Xadrez é uma emocionante batalha com exércitos de cavaleiros, torres, arqueiros e corajosos guerreiros compartilhando um mesmo objetivo, aprisionar o rei adversário e vencer a batalha.</p>
									</div>
								</div>
							</div>
                            <div class="panel">
    							<div class="panel-heading">
									<h4 class="panel-title">
									<a href="#collapseZeroOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
										<small><i class="fa fa-question-circle"></i> O Xadrez ajuda nos estudos?</small>
									</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapseZeroOne">
									<div class="panel-body">
                                        <p>Sim! Pesquisas apontam que estudantes que jogam xadrez têm uma melhoria de 15% em provas de matemática após o início da prática.</p>
									</div>
								</div>
							</div>
							<div class="panel">
    							<div class="panel-heading">
									<h4 class="panel-title">
									<a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
										<small><i class="fa fa-question-circle"></i> Quais habilidades são trabalhadas com Xadrez?</small>
									</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapseOne">
									<div class="panel-body">
                    					<p>O Xadrez trabalha naquele que o pratica, uma série de habilidades cognitivas tais como atenção,
                                        concentração, raciocínio lógico, memória, organização de ideias, antecipação, espírito de decisão,
                                        autocontrole, disciplina, perseverança, dentre outros.</p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
											<small><i class="fa fa-question-circle"></i> A partir de qual idade posso aprender?</small>
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapseTwo">
									<div class="panel-body">
										<p>O Xadrez é recomendado para todas as faixas etárias. Crianças podem tirar proveito do jogo a partir de 6 anos de idade.</p>
									</div>
								</div>
							</div>
							<div class="panel">
    							<div class="panel-heading">
									<h4 class="panel-title">
									<a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
										<small><i class="fa fa-question-circle"></i> Não tenho paciência, Xadrez não é para mim?</small>
									</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapseThree">
									<div class="panel-body">
										<p>Essa é uma das maiores falácias a respeito deste nobre jogo-esporte-ciência. Não é preciso ter paciência para jogar Xadrez, este é um dos atributos que você adquire com a prática do esporte. </p>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
											<small><i class="fa fa-question-circle"></i> Tenho TDAH, posso aprender Xadrez?</small>
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapseFour">
									<div class="panel-body">
										<p>Sim. Pesquisas apontam que o jogo de xadrez é um excelente aliado no tratamento do Transtorno de Déficit de Atenção e Hiperatividade (TDAH).
                                            Maior concentração em sala de aula e desenvolvimento mais rápido do raciocínio são alguns dos benefícios de quem joga.</p>
									</div>
								</div>
							</div>

						</div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">

        	<div class="col-md-12">
            	<hr class="hr-circle-center  margin-top40 margin-bottom40">
            </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 class="heading-single text-center title-small title-color"><span>Próximas turmas</span></h2>
            <h4 class="text-center margin-bottom20"><span>Confira as turmas com inscrições abertas</span></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              {% include 'courses/_open_courses_table.html' %}
          </div>
        </div>

        <div class="row">

        	<div class="col-md-12">
            	<h1 class="text-center title-color">Inscrições abertas!</h1>
            	<p class="text-center lead">Faça agora sua inscrição no <a href="{% url 'courses:list' %}">Curso de Xadrez para Iniciantes</a>
                    e entenda porque o Xadrez é sucesso a milênios!</p>
                <p class="text-center"><a href="{% url 'courses:list' %}" class="btn btn-primary btn-lg">Quero me inscrever<i class="fa fa-share fa-margin-left"></i></a></p>
            </div>

        </div>

        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
			  	<div class="hr-icon padding-top20 color-default"><hr><i class="fa fa-trophy icon-divider"></i></div>
                <h2 class="text-center title-color">Confira algumas fotos das edições anteriores</h2>
            </div>
		</div>

        <div class="row">
        	<div class="col-md-12">
                <!-- Carousel -->
                <div class="simple-caroursel animation bounceIn">

                    <div class="list_carousel responsive" >
                        <div class="carousel-navigation">
                            <a id="carou-prev" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                            <a id="carou-next" class="next" href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <ul class="latest-work disable-select">
                            {% for i in 'xxxxxxxxxxxxx' %}
                            <li>
                                <div class="work-entry">
                                    <div class="work-entry-content">
                                        {% with forloop.counter|stringformat:"s" as counter %}
                                            {% with 'img/course/estavos-curso-aprenda-'|add:counter|add:'.jpg' as image_path %}
                                                <div class="image-overlay">
                                                    <img alt="" src="{% static image_path %}" >
                                                    <div class="overlay-fade">
                                                        <a class="" data-lightbox="image" href="{% static image_path %}"><i class="icon-overlay fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            {% endwith %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="clearfix"></div>

                    </div>

                </div>
                <!-- /Carousel -->
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    jQuery(document).ready(function() {
        gfx('.latest-work').carouFredSel({
    		circular	: true,
    		infinite	: true,
    		auto: true,
    		responsive: true,
    		width: '100%',
    		scroll: 1,
    		prev : {
    			button: "#carou-prev",
    			key: "left",
    			items: 1,
    			duration: 750
    			},
    		next : {
    			button: "#carou-next",
    			key: "right",
    			items: 1,
    			duration: 750
    		},
    		mousewheel: false,
    		swipe: {
    			onMouse: true,
    			onTouch: true
    		},
    		items: {
    			visible: {
    				min: 1,
    				max: 6
    			}
    		}
    	});
    });
    </script>
{% endblock %}