{% extends 'base.html' %}

{% block title %}Inscrição{% endblock title %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info fade in">
                <a aria-hidden="true" data-dismiss="alert" class="close"><i class="fa fa-times"></i></a>
                O curso APRENDA tem início no dia <strong>20 de Fevereiro de 2016</strong>
            </div>
        </div>
    </div>

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-color heading-single text-center"><span>Curso de Xadrez para Iniciantes!</span></h1>
        </div>
    </div>
    <!-- /Title -->

    <!-- Pricing table -->
    <div class="row">
			<div class="col-md-12">

                <ul class="pricing-table pricing-columns-3">
                    <li class="pricing-plan">
                        <ul class="pricing-container">
                            <li class="pricing-title bg-color-orange">
                                <div class="icon-wrapper icon-border-round fa-2x">
                                    <i class="fa fa-trophy"></i>
                                </div>
                                <p>1º Aluno</p>
                            </li>
                            <li class="pricing-value">
                                <p class="period">3 parcelas iguais de</p>
                                <p class="value color-orange"><span>R$</span> 149,90</p>
                                <p class="period">ou R$ 399,00 à vista</p>
                            </li>
                            <li>
                                <ul class="pricing-options">
                                    <li>Turmas para <span class="color-orange">adultos e crianças</span></li>
                                    <li>Entrega de <span class="color-orange">certificados</span></li>
                                    <li>1 Reposição de aula <span class="color-orange">grátis</span></li>
                                    <li>Professores <span class="color-orange">especialistas</span></li>
                                    <li>Dividimos em até <span class="color-orange">12x no cartão de crédito</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pricing-plan">
                        <ul class="pricing-container">
                            <li class="pricing-title bg-color-default">
                                <div class="icon-wrapper icon-border-round fa-2x">
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>2º Aluno / Sócio ASCADE</p>
                            </li>
                            <li class="pricing-value color-default">
                                <p class="period">3 parcelas iguais de</p>
                                <p class="value"><span>R$</span> 119,92</p>
                                <p class="period">ou R$ 319,00 à vista</p>
                            </li>
                            <li>
                                <ul class="pricing-options">
                                    <li>Desconto de <span class="color-default">20%!</span></li>
                                    <li>Turmas para <span class="color-default">adultos e crianças</span></li>
                                    <li>Entrega de <span class="color-default">certificados</span></li>
                                    <li>1 Reposição de aula <span class="color-default">grátis</span></li>
                                    <li>Professores <span class="color-default">especialistas</span></li>
                                    <li>Dividimos em até <span class="color-default">12x no cartão de crédito</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pricing-plan">
                        <ul class="pricing-container">
                            <li class="pricing-title bg-color-purple">
                                <div class="icon-wrapper icon-border-round fa-2x">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <p>Pai ou Mãe matriculado com o filho</p>
                            </li>
                            <li class="pricing-value color-purple">
                                <p class="period">3 parcelas iguais de</p>
                                <p class="value"><span>R$</span> 74,95</p>
                                <p class="period">ou R$ 199,00 à vista</p>
                            </li>
                            <li>
                                <ul class="pricing-options">
                                    <li>Desconto de <span class="color-purple">50%!</span></li>
                                    <li>Turmas para <span class="color-purple">adultos</span></li>
                                    <li>Entrega de <span class="color-purple">certificados</span></li>
                                    <li>1 Reposição de aula <span class="color-purple">grátis</span></li>
                                    <li>Professores <span class="color-purple">especialistas</span></li>
                                    <li>Dividimos em até <span class="color-purple">12x no cartão de crédito</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul> <!-- End ul#plans -->

			</div>
        </div>
    <!-- /Pricing table -->

    <iframe src="https://docs.google.com/forms/d/1RnwupwmPa3fK6iLuRSRTU70wnZs1JmEIpfkDZTgpSEs/viewform?embedded=true"
            width="760"
            height="650"
            frameborder="0"
            marginheight="0"
            marginwidth="0">
        Carregando…
    </iframe>

    <div class="row">
        <div class="col-md-12">
            <p>Após o preenchimento do formulário acima você receberá um email do PagSeguro para confirmação de inscrição.</p>
            <p>Em caso de dúvidas estamos à disposição para atendê-lo.</p>
        </div>
    </div>

{% endblock main %}