{% extends 'base.html' %}

{% load static %}

{% block title %}Inscrição{% endblock title %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info fade in">
                <a aria-hidden="true" data-dismiss="alert" class="close"><i class="fa fa-times"></i></a>
                O curso APRENDA <strong>unidade Águas Claras (Kumon Av. das Castanheiras)</strong> tem início no dia <strong>12 de Março de 2016</strong>
            </div>
        </div>
    </div>

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-color heading-single text-center"><span>Curso de Xadrez para Iniciantes!</span></h1>
        </div>
    </div>
    <!-- /Title -->

    <div class="row">
        <div class="col-md-8">

            <div class="service-block sb-border sb-success">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-success">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center"><strong>Pré-Inscrição</strong></p>
                </div>
                <div class="service-block-content">
                    <form action="" method="post">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <!-- responsável -->
                        <h4 class="title-color heading-single text-center"><span>Dados do responsável</span></h4>
                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <span class="help-block color-danger">{{ form.name.errors.as_text }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
                            <label for="{{ form.phone.id_for_label }}" class="control-label">{{ form.phone.label }}</label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <span class="help-block color-danger">{{ form.phone.errors.as_text }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                            <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <span class="help-block color-danger">{{ form.email.errors.as_text }}</span>
                            {% endif %}
                        </div>

                        <!-- curso -->
                        <h4 class="title-color heading-single text-center"><span>Escolha do curso</span></h4>
                        <div class="form-group {% if form.place.errors %}has-error{% endif %}">
                            <label for="{{ form.place.id_for_label }}" class="control-label">{{ form.place.label }}</label>
                            <p class="help-block">{{ form.place.help_text }}</p>
                            {{ form.place }}
                            {% if form.place.errors %}
                                <span class="help-block color-danger">{{ form.place.errors.as_text }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {% if form.klass.errors %}has-error{% endif %}">
                            <label for="{{ form.klass.id_for_label }}" class="control-label">{{ form.klass.label }}</label>
                            <p class="help-block">{{ form.klass.help_text }}</p>
                            {{ form.klass }}
                            {% if form.klass.errors %}
                                <span class="help-block color-danger">{{ form.klass.errors.as_text }}</span>
                            {% endif %}
                        </div>

                        <!-- aluno -->
                        <h4 class="title-color heading-single text-center"><span>Dados do aluno</span></h4>
                        <div class="form-group {% if form.student.errors %}has-error{% endif %}">
                            <label for="{{ form.student.id_for_label }}" class="control-label">{{ form.student.label }}</label>
                            {{ form.student }}
                            {% if form.student.errors %}
                                <span class="help-block color-danger">{{ form.student.errors.as_text }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {% if form.birth.errors %}has-error{% endif %}">
                            <label for="{{ form.birth.id_for_label }}" class="control-label">{{ form.birth.label }}</label>
                            <p class="help-block">{{ form.birth.help_text }}</p>
                            {{ form.birth }}
                            {% if form.birth.errors %}
                                <span class="help-block color-danger">{{ form.birth.errors.as_text }}</span>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary">Efetuar inscrição</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><strong>Após o preenchimento do formulário acima você receberá um email do PagSeguro para confirmação de inscrição.</strong></p>
            <p>Em caso de dúvidas estamos à disposição para atendê-lo.</p>
        </div>
    </div>

{% endblock main %}

