{% extends 'base.html' %}

{% load static %}

{% block main %}

<h2>Pré-inscrição: Curso de Xadrez para Iniciantes</h2>

<p>Olá {{ inscription.name }}, tudo bem?</p>

<p>Informamos que a pré-inscrição do aluno(a) <strong>{{ inscription.student }}</strong> no <strong>{{ inscription.course.name }}</strong> foi realizada com sucesso.</p>

<p>Você fez a pré-inscrição para unidade <strong>{{ inscription.course.place }}</strong>.</p>

<p>Caso tenha alguma informação errada, por favor entre em contato e solicite correção.</p>

<p>O curso tem o valor total de R$ 449,70 e você poderá pagar em até <strong>3x iguais sem juros de 149,90</strong> ou em até 12x além de boleto bancário.</p>

<p>Também aceitamos pagamento via depósito ou transferência bancária para nossa conta em:</p>

<p><strong>Caixa Econômica Federal</strong> <br />
<strong>Agência</strong>: 1803 <br />
<strong>Conta corrente</strong>: 227-8 <br />
<strong>Op</strong>: 003 <br />
<strong>Estavos Organizadora de Eventos Desportivos e Academia de Jogos e Esportes Mentais LTDA.</strong></p>

<p>Após o depósito é necessário enviar o comprovante para o email <strong>contato@estavos.com</strong></p>

<p>​Qualquer dúvida estamos à disposição para lhe atender através de nossos <a href="/contato/">canais de contato</a>.</p>

<p><a class="btn btn-orange btn-lg margin-top20" href="/checkout/pagamento/">
    Efetuar pagamento e confirmar inscrição! <i class="fa fa-share fa-margin-left"></i>
</a></p>

<p><img src="{% static 'courses/pagseguro_formas_pagamento.png' %}" alt="Pagseguro - Site 100% Seguro" /></p>

{% endblock main %}