{% load blog_tags keyword_tags mezzanine_tags i18n %}

    <div class="list_block">
        <h3>Lista VIP</h3>
        <p>Cadastre-se na lista VIP e receba gratuitamente dicas e novidades exclusivas sobre Xadrez e saúde da mente!</p>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//estavos.us12.list-manage.com/subscribe/post?u=99aa6359a27416efa0656044b&amp;id=a5839f05b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Cadastre-se em nossa lista VIP</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Seu melhor email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_99aa6359a27416efa0656044b_a5839f05b0" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
    </div>

    {% block blog_recent_posts %}
    {% blog_recent_posts 5 as recent_posts %}
    {% if recent_posts %}
    <div class="list_block">
        <h3>Últimos posts</h3>
        <ul>
        {% for recent_post in recent_posts %}
        <li>
            {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
            <span class="rel_thumb">
                <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 100 67 %}" alt="" />
            </span>
            {% endif %}
            <div class="rel_right">
                <a href="{{ recent_post.get_absolute_url }}"><h4>{{ recent_post.title }}</h4></a>
                <span class="date">Publicado: <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.publish_date|date:"d/m/Y" }}</a></span>
            </div>
        </li>
        {% endfor %}
        </ul>
        <a href="{% url 'home' %}">Ir para página inicial</a>
    </div>
    {% endif %}
    {% endblock %}

{% block blog_categories %}
{% blog_categories as categories %}
{% if categories %}

    <!-- sidebar widget -->
    <div class="list_block">
        <h3><span>{% trans "Categories" %}</span></h3>
        <ul class="fa-ul list-divider">
            {% for category in categories %}
                <li><a href="{% url "blog_post_list_category" category.slug %}">
                    <i class="fa-li fa fa-chevron-circle-right"></i>{{ category }} <span>({{ category.post_count }})</span></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /sidebar widget -->

{% endif %}
{% endblock %}

{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}

    <!-- sidebar widget -->
    <div class="list_block">
        <h3><span>{% trans "Tags" %}</span></h3>
        <div class="tags">
            {% for tag in tags %}
                <a href="{% url "blog_post_list_tag" tag.slug %}"
                   class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    <!-- /sidebar widget -->

{% endif %}
{% endblock %}

{% block blog_feeds %}
    <!-- sidebar widget -->
    <div class="list_block">
        <h3>{% trans "Feeds" %}</h3>
        {% if tag %}
            <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
            <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
        {% endif %}
        {% if category %}
            <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
            <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
        {% endif %}
        {% if author %}
            <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
            <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
        {% endif %}
        {% if not tag and not category and not author %}
            <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
            <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
        {% endif %}
    </div>
{% endblock %}
