{% extends 'base.html' %}

{% block meta_title %}Controle de inscrições: {{ tournament }}{% endblock meta_title %}

{% block main %}
    <h2 class="title-color heading-single text-center"><span>Lista de atletas com inscrições não confirmadas</span></h2>

    <p><strong>Evento:</strong> {{ tournament }}</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID CBX</th>
                <th>Atleta</th>
                <th>Data de nascimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="http://www.cbx.org.br/Jogadores.aspx?nm=&no={{ object.id_cbx }}&fi=&uf="
                       title="Consultar status do cadastro do jogador"
                       target="_blank">{{ object.id_cbx }}</a></td>
                <td>{{ object.name }}</td>
                <td>{{ object.birth }}</td>
                <td>
                    <form method="post" action="{% url 'tournaments:inscriptions_control_confirm' tournament.pk object.pk %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ tournament.pk }}" name="tournament"/>
                        <input type="hidden" value="{{ object.pk }}" name="inscription"/>
                        <button type="submit" value="Confirmar inscrição" class="btn btn-sm btn-primary"><i class="fa fa-check fa-margin-right"></i> Confirmar inscrição</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}