{% load pages_tags mezzanine_tags i18n staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block meta_title %}Aulas de Xadrez em Brasília - DF{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}

  <link rel="icon" type="image/png" href="img/favicon.png">
  {% compress css %}
  <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'plugins/selectbox/select_option1.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/flexslider/flexslider.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'plugins/calender/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/animate.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/pop-up/magnific-popup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/rs-plugin/css/settings.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/default.css' %}" id="option_color">
  {% block extra_css %}{% endblock %}
  {% endcompress %}

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
  {% endif %}

  {% block extra_head %}{% endblock %}
</head>

<body class="body-wrapper" id="{% block body_id %}body{% endblock %}">

  <!-- fb plugins -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- /fb plugins -->

  <div class="main_wrapper">

    <header class="header-wrapper">
      <div class="topbar clearfix">
        <div class="container">
          <ul class="topbar-left">
            <li class="phoneNo"><i class="fa fa-phone"></i>(61) 99193-0933 / (61) 98143-2175</li>
            <li class="email-id hidden-xs hidden-sm"><i class="fa fa-envelope"></i>
              <a href="mailto:contato@estavos.com">contato@estavos.com</a>
            </li>
          </ul>
          <ul class="topbar-right">
            <li class="hidden-xs"><a target="_blank" href="https://www.facebook.com/EstavosOficial"><i class="fa fa-facebook"></i></a></li>
            <li class="hidden-xs"><a target="_blank" href="https://twitter.com/AcademiaEstavos"><i class="fa fa-twitter"></i></a></li>
            <li class="hidden-xs"><a target="_blank" href="https://www.instagram.com/academiaestavos/"><i class="fa fa-instagram"></i></a></li>
            <li class="hidden-xs"><a target="_blank" href="http://estavos.com/blog/feeds/rss/"><i class="fa fa-rss"></i></a></li>
            <li class="top-search list-inline">
              <a href="#"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <span class="input-group">
                      {% search_form "all" %}
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="header clearfix">
        <nav class="navbar navbar-main navbar-default">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="header_inner">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo clearfix img-responsive" href="{% url "home" %}"><img src="{% static 'img/logo.png' %}" alt="Logo ESTAVOS" /></a>
                  </div>

                  <div class="collapse navbar-collapse" id="main-nav">
                    {% page_menu "pages/menus/dropdown.html" %}
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.container -->
        </nav><!-- navbar -->
      </div>
    </header>

{% block home %}

{% block special_header %}
<!-- Container Tile & Breadcrumbs -->
<div class="fullsize">

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">{% block title %}{% endblock %}</h1>
                </div>
                <div class="col-md-6">

                    <ol class="breadcrumb">
                        {% spaceless %}
                        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                        {% endspaceless %}
                    </ol>

                </div>
            </div>
        </div>
    </div>

</div> <!-- /Container Tile & Breadcrumbs -->
{% endblock special_header %}

</div> <!-- / page-wrapper -->

<!-- Main Container -->
<div class="main-wrapper">

<div class="blank-spacer padding-top20 padding-bottom20"></div>

<!-- Messages -->
<div class="container">
    {% nevercache %}
    {% if messages %}
    <div class="row">
        <div class="col-md-12">
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endnevercache %}
</div> <!-- / Messages -->

{% block all_content %}
<div class="container">

    <div class="row">

        {% block left_wrapper %}
        <div class="col-md-{% block left_column_size %}2{% endblock %} left">
            {% block left_panel %}
            <div class="sidebar">
                <div class="sidebar-widget animation fadeInUp">
                    <ul class="fa-ul list-divider">
                    {% page_menu "pages/menus/tree.html" %}
                    </ul>
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        {% block main_wrapper %}
        <div class="col-md-{% block main_column_size %}10{% endblock %} middle">
            {% block main %}{% endblock %}
        </div>
        {% endblock %}

        {% block right_wrapper %}
        {% endblock %}

    </div>

</div>
{% endblock %}

{% endblock home %}

</div> <!-- / Main Container -->

<!-- Footer Container -->
<div class="footer-wrapper">

	<!-- Footer Top Container -->
    <div class="footer-top">

	</div>
	<!-- /Footer Top Container -->

	<!-- Footer Middle Container -->
    <div class="footer-middle">

    <div class="container"> <!-- Container -->

		<div class="row">

        	<div class="col-md-3">
            	<div class="footer-widget">
            		<h3>Sobre nós</h3>
                    <p class="lead">"<em>Conheça nossa <a href="http://estavos.com/quem-somos/" style="color: #4B9948;" title="missão da ESTAVOS">missão</a> e saiba um pouco mais sobre nós!</em>"</p>
                	<p>ESTAVOS Academia de Jogos e Esportes Mentais LTDA. - ME</p>
                    <p>CNPJ: 18.157.637/0001-51</p>
       			</div>
            </div>

            <div class="col-md-3">
            	<div class="footer-widget">
            		<h3>Contato</h3>
                	<p>Entre em contato agora mesmo conosco! Estamos à disposição para lhe atender.</p>
					<ul class="fa-ul">
  						<li><i class="fa-li fa fa-map-marker color-white"></i>SCES Trecho 2, Conjunto 10, Lote 18 - Asa Sul, Brasília - DF</li>
                        <li><i class="fa-li fa fa-phone color-white"></i>(61) 9 9193-0933</li>
                        <li><i class="fa-li fa fa-phone color-white"></i>(61) 9 8143-2175</li>
  						<li><i class="fa-li fa fa-envelope color-white"></i>contato@estavos.com</li>
					</ul>
       			</div>
            </div>

            <div class="col-md-3">
            	<div class="footer-widget">
            		<h3>ESTAVOS na Rede!</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fb-page"
                                 data-href="https://facebook.com/EstavosOficial"
                                 data-tabs=""
                                 data-small-header="true"
                                 data-adapt-container-width="true"
                                 data-hide-cover="true"
                                 data-show-facepile="true">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://facebook.com/EstavosOficial">
                                        <a href="https://facebook.com/EstavosOficial">Academia Estavos</a>
                                    </blockquote>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-md-12">
                            <ul class="footer-social list-inline">
                                <li><a href="https://www.facebook.com/EstavosOficial" target="_blank"><div class="icon-wrapper icon-border-round fa-2x"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/AcademiaEstavos" target="_blank"><div class="icon-wrapper icon-border-round fa-2x"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="https://plus.google.com/+EstavosOficial" target="_blank"><div class="icon-wrapper icon-border-round fa-2x"><i class="fa fa-google-plus"></i></div></a></li>
                                <li><a href="https://www.instagram.com/academiaestavos/" target="_blank"><div class="icon-wrapper icon-border-round fa-2x"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                    </div>
            	</div>
            </div>

            <div class="col-md-3">
            	<div class="footer-widget">
            		<h3>Navegação</h3>
                    <ul class="fa-ul footer-navigation">
                        {% page_menu "pages/menus/footer.html" %}
                    </ul>
            	</div>
            </div>

		</div>

	</div> <!-- /Container -->

	</div>
	<!-- /Footer Middle Container -->

	<!-- Footer Bottom Container -->
    <div class="footer-bottom">

    <div class="container"> <!-- Container -->

        <div class="row">
  			<div class="col-md-6 col-md-push-6">
                {% page_menu "pages/menus/footer-list.html" %}
            </div>
  			<div class="col-md-6 col-md-pull-6">
				<div class="copyright">© 2013-2017 Academia ESTAVOS. All Rights Reserved.</div>
			</div>
		</div>
     	<a id="footer-view"></a>

	</div> <!-- /Container -->

	</div>
	<!-- /Footer Bottom Container -->

</div>
<!-- /Footer Container -->

{% include "includes/footer_scripts.html" %}

{% compress js %}
<script src="{% static 'plugins/jquery/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/flexslider/jquery.flexslider.js' %}"></script>
<script src="{% static 'plugins/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'plugins/selectbox/jquery.selectbox-0.1.3.min.js' %}"></script>
<script src="{% static 'plugins/pop-up/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'plugins/animation/waypoints.min.js' %}"></script>
<script src="{% static 'plugins/count-up/jquery.counterup.js' %}"></script>
<script src="{% static 'plugins/animation/wow.min.js' %}"></script>
<script src="{% static 'plugins/animation/moment.min.js' %}"></script>
<script src="{% static 'plugins/calender/fullcalendar.min.js' %}"></script>
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/timer/jquery.syotimer.js' %}"></script>
<script src="{% static 'plugins/smoothscroll/SmoothScroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

</body>
</html>
