{% extends 'base.html' %}

{% load static mezzanine_tags %}

{% block home %}
<div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
  <div class="slides carousel-inner">
    <div class="item active">
      <img src="{% static 'img/home/slider/default-slider.jpg' %}" alt="" />
      <div class="banner_caption">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="caption_inner animated fadeInUp">
                <h1>Especialistas no Esporte dos Reis</h1>
                <p>Para melhor aproveitamento do esporte, conte com especialistas!</p>
                <p>Mente saudável, vida saudável!</p>
                <a href="/contato">Fale conosco</a>
              </div><!--end caption_inner-->
            </div>
          </div><!--end row-->
        </div><!--end container-->
      </div><!--end banner_caption-->
    </div>
  </div>
  <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
    <img src="{% static 'img/home/slider/prev.png' %}"></a>
  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
    <img src="{% static 'img/home/slider/next.png' %}"/></a>
</div><!--end banner-->

<div class="aboutArea">
  <div class="container">
      <div class="row clearfix">
      <div class="col-xs-12">
          <div class="aboutTitle">
          <h2>Nossos principais serviços</h2>
          </div><!-- aboutTitle -->
      </div><!-- col-sm-3 col-xs-12 -->
      </div><!-- row clearfix -->

      <div class="about_inner clearfix">
      <div class="row">
          <div class="col-xs-6 col-sm-3">
          <div class="aboutImage">
              <a href="/clube-de-xadrez">
              <img src="{% static 'img/home/servicos-estavos-clube-de-xadrez.jpg' %}" alt="" class="img-responsive" />
              <div class="overlay">
                  <p>O Clube de Xadrez da ESTAVOS é um espaço para aulas de Xadrez para crianças e treinamento para competições na modalidade.</p>
              </div>
              <span class="captionLink">Clube de Xadrez<span></span></span>
              </a>
          </div><!-- aboutImage -->
          </div>

          <div class="col-xs-6 col-sm-3">
          <div class="aboutImage">
              <a href="/torneios">
              <img src="{% static 'img/home/servicos-estavos-torneios-arbitragem-xadrez.jpg' %}" alt="" class="img-responsive" />
              <div class="overlay">
                  <p>A ESTAVOS organiza periodicamente torneios oficiais abertos e fechados, em eventos, escolas, empresas e instituições parceiras.</p>
              </div>
              <span class="captionLink">Torneios de Xadrez<span></span></span>
              </a>
          </div><!-- aboutImage -->
          </div>

          <div class="col-xs-6 col-sm-3">
          <div class="aboutImage">
              <a href="/contato">
              <img src="{% static 'img/home/servicos-estavos-xadrez-nas-escolas.jpg' %}" alt="" class="img-responsive" />
              <div class="overlay">
                  <p>Sua escola ainda não tem Xadrez???
                      Agende uma visita! A ESTAVOS possui um método exclusivo para implantar a cultura do Xadrez na sua escola!</p>
              </div>
              <span class="captionLink">Xadrez nas Escolas<span></span></span>
              </a>
          </div><!-- aboutImage -->
          </div>

          <div class="col-xs-6 col-sm-3">
          <div class="aboutImage">
              <a href="/contato">
              <img src="{% static 'img/home/servicos-estavos-xadrez-recreativo.jpg' %}" alt="" class="img-responsive" />
              <div class="overlay">
                  <p>Também levamos Xadrez para seu evento, seja em shoppings, parques ou condomínios. Você pode oferecer o Esporte dos Reis para seus clientes.</p>
              </div>
              <span class="captionLink">Xadrez Recreativo<span></span></span>
              </a>
          </div><!-- aboutImage -->
          </div>
      </div><!-- row -->
      </div><!-- about_inner -->

  </div><!-- container -->
</div><!-- aboutArea -->

  <div class="mainContent clearfix">
    <div class="container">
      <div class="row clearfix">

        <div class="col-sm-8 col-xs-12">
          <div class="videoNine clearfix">

            <div class="videoArea clearfix">
              <h3>Bem vindo à ESTAVOS</h3>
              <div class="row">
                <div class="col-lg-5 col-md-4 col-xs-12">
                  <img src="{% static 'img/home/bem-vindo-a-estavos.jpg' %}">
                </div>
                <div class="col-lg-7 col-md-8 col-xs-12">
                  <p>A palavra <strong>ESTAVOS</strong> é um acrônimo entre as palavras, <strong>Es</strong>tratégia, <strong>Tá</strong>tica e objeti<strong>vos</strong>. Esses três conceitos são estudados por jogadores de Xadrez de diversos níveis. Conceitos estes que se pararmos para pensar, são essenciais no cotidiano. E onde isso se aplica? Na vida!</p>
                  <p>Afinal, Xadrez é como a vida e a vida imita o Xadrez. Diversas são as relações que podemos fazer entre uma partida de Xadrez e a vida real. No método de ensino da ESTAVOS, a todo momento trabalhamos essas relações com os alunos e ensinamos a aplicar os conceitos enxadrísticos da melhor maneira em sua própria vida...</p>
                  <a href="/blog/o-que-significa-estavos" class="btn btn-block learnBtn">Leia mais</a>
                </div>
              </div>
            </div>

            <div class="related_post_sec single_post">
              <h3>Os posts mais quentes do blog</h3>
              <ul>
                <li>
                  <span class="rel_thumb">
                    <a href="/blog/como-o-xadrez-pode-mudar-a-vida-das-pessoas"><img src="{% static 'img/home/xadrez-home-estavos-1.jpg' %}" alt=""></a>
                  </span><!--end rel_thumb-->
                  <div class="rel_right">
                    <h4><a href="/blog/como-o-xadrez-pode-mudar-a-vida-das-pessoas">Como o Xadrez pode mudar a vida das pessoas</a></h4>
                    <div class="meta">
                      <span class="author">Postado em: <a href="/blog/category/xadrez/">Xadrez</a></span>
                      <span class="author">Por: <a href="/blog/author/hugo">Hugo Ribeiro</a></span>
                    </div>
                    <p>"O Xadrez deu aos homens uma mensagem de elevação intelectual levando-os a regiões superiores do conhecimento e provendo-lhes de uma fonte inesgotável de emoções”.
                        <em>Uvencio Blanco</em></p>
                  </div><!--end rel right-->
                </li>
                <li>
                  <span class="rel_thumb">
                    <a href="/blog/o-que-e-xadrez-e-porque-voce-precisa-comecar-a-aprender-hoje-mesmo"><img src="{% static 'img/home/xadrez-home-estavos-2.jpg' %}" alt=""></a>
                  </span><!--end rel_thumb-->
                  <div class="rel_right">
                    <h4><a href="/blog/o-que-e-xadrez-e-porque-voce-precisa-comecar-a-aprender-hoje-mesmo">O que é Xadrez e porque você precisa começar a aprender hoje mesmo</a></h4>
                    <div class="meta">
                        <span class="author">Postado em: <a href="/blog/category/xadrez/">Xadrez</a></span>
                        <span class="author">Por: <a href="/blog/author/bruno">Bruno Barbosa</a></span>
                    </div>
                    <p>Trata-se de uma emocionante batalha com exércitos de cavaleiros, torres, arqueiros e corajosos guerreiros compartilhando um mesmo objetivo, aprisionar o rei adversário e vencer a batalha.
                        O Xadrez, atualmente entendido como esporte mental, é um jogo, brincadeira ou esporte de tabuleiro que exige intensa utilização do raciocínio humano...</p>
                  </div><!--end rel right-->
                </li>
              </ul>
            </div><!--related_post_sec-->

          </div><!--videoNine-->
        </div><!-- col-sm-8 col-xs-12 -->

        <div class="col-sm-4 col-xs-12">
          <div class="formArea clearfix">
            <div class="formTitle">
              <h3>Encontre a ESTAVOS mais perto de você!</h3>
              <p>Estamos localizados em Brasília e outras cidades satélites em parceria com instituições de renome facilitando o acesso ao Esporte dos Reis para você!</p>
            </div><!-- formTitle -->
            <form action="#" method="post">
              <div class="selectBox clearfix">
                <select name="find-next-estavos" id="find-estavos">
                  <option value="">Selecione</option>
                  {% for club in clubs %}
                  <option value="{{ club.get_absolute_url }}">{{ club.city }}</option>
                  {% endfor %}
                </select>
              </div><!-- selectBox -->
            </form>
          </div><!-- formArea -->
          <div class="list_block related_post_sec">
            <div class="upcoming_events">
              <h3>Calendário ESTAVOS</h3>
              <ul>
                {% for event in upcoming_events %}
                <li class="related_post_sec single_post">
                  <span class="date-wrapper">
                    <span class="date"><span>{{ event.datetime|date:"d" }}</span>{{ event.datetime|date:"F" }}</span>
                  </span>
                  <div class="rel_right">
                    <h4><a href="#">{{ event.summary }}</a></h4>
                    <div class="meta">
                      <span class="place"><i class="fa fa-map-marker"></i>{{ event.location }}</span>
                      {% if event.time %}<span class="event-time"><i class="fa fa-clock-o"></i>{{ event.time }}</span>{% endif %}
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <a target="_blank"
                 href="https://calendar.google.com/calendar/embed?src=vckp8teebn16mo8ak7g5l2m8v0%40group.calendar.google.com&ctz=America%2FSao_Paulo"
                 class="btn btn-default btn-block commonBtn">Mais eventos</a>
            </div>
          </div><!-- end list_block -->
        </div><!-- col-sm-4 col-xs-12 -->

      </div><!-- row clearfix -->
    </div><!-- container -->
  </div><!-- mainContent -->

  <!-- Paralax -->
  <div class="padding clearfix paralax" style="background-image: url({% static 'img/home/paralax/paralax05.jpg' %});">
    <div class="container">
      <div class="paralax-text text-center paralaxInner">
        <h2>ESTAVOS na rede!</h2>
        <p>Nos acompanhe nas redes sociais e saiba onde tem Xadrez perto de você!</p>
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.facebook.com/EstavosOficial"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/AcademiaEstavos"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/academiaestavos/"><i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="http://estavos.com/blog/feeds/rss/"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div><!-- row -->
    </div>
  </div><!-- padding clearfix paralax -->

  <div class="clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="carousal_title">
            <h1 style="margin-top: 1em;">Conheça alguns de nossos clientes e parceiros</h1>
            <p>O Xadrez é o esporte do futuro! Nunca antes na história a modalidade tem ganhado tanto destaque e adeptos à prática do esporte da mente.</p>
            <p>Saiba quem são os responsáveis por contribuir com o desenvolvimento e crescimento intelectual da população:</p>
          </div>
        </div>
      </div>
    </div><!--end container-->
  </div><!--end content_bottom-->

  <div class="brandSection clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="owl-carousel partnersLogoSlider">
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand1.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand2.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand3.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand4.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand5.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand1.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand2.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand3.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand4.png' %}" /></a>
                </div>
              </div>
              <div class="slide">
                <div class="partnersLogo clearfix">
                  <a href="#"><img src="{% static 'img/home/brand5.png' %}" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Brand-section -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
