{% extends 'base.html' %}

{% block home %}
<!-- Slider Container -->
<div class="slider-wrapper">

<div class="parallax-wrapper parallax-background11" data-stellar-background-ratio="0.3" >

        <div class="parallax-wrapper padding-medium">
        <div class="container">

        <div class="row">

            <div class="col-md-7">

            </div>

            <div class="col-md-5">
                <div class="blank-spacer margin-top30 margin-bottom30"></div>
                <div class="panel">
                    <div class="panel-body bg-color-white transparent">
                        <h3 class="heading-double title-color text-center"><span>Make your Reservation<br/><small>3rd Night Free till the end of February!</small></span></h3>
                        <form>
                            <div class="form-group">
                              <label>Select your Room</label>
                                <select class="form-control input-lg">
                                    <option>Single Room</option>
                                    <option>Double Room</option>
                                    <option>Luxury Room</option>
                                    <option>Suite</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                      <label>Please select the day you will arrived:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>Month</option>
                                            <option>January</option>
                                            <option>February</option>
                                            <option>March</option>
                                            <option>April</option>
                                            <option>May</option>
                                            <option>June</option>
                                            <option>July</option>
                                            <option>August</option>
                                            <option>September</option>
                                            <option>October</option>
                                            <option>November</option>
                                            <option>December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>Day</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>Year</option>
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                      <label>Please select the departure day:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>Month</option>
                                            <option>January</option>
                                            <option>February</option>
                                            <option>March</option>
                                            <option>April</option>
                                            <option>May</option>
                                            <option>June</option>
                                            <option>July</option>
                                            <option>August</option>
                                            <option>September</option>
                                            <option>October</option>
                                            <option>November</option>
                                            <option>December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>Day</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>Year</option>
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="exampleFullName" class="form-control input-lg" type="text" placeholder="Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input id="exampleYourEmail" class="form-control input-lg" type="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg aligncenter" type="submit">MAKE RESERVATION</button>
                            </div>
                        </form>
                        <p class="text-center">By signing up you agree our <a>Terms and Privacy Policy</a></p>
                    </div>
                </div>
                <div class="blank-spacer margin-top20 margin-bottom20"></div>
            </div>

        </div>

        </div>
    </div>
</div>

</div>
<!-- /Slider Container -->

<!-- Main Container -->
<div class="main-wrapper">

	<div class="container container-inner">
		<div class="row">

			<div class="col-md-8 col-md-offset-2">
                <h2 class="title-small text-center title-color animation fadeInDownBig">Your Perfect Getaway</h2>
                <p class="text-center lead">Whether it is your annual holiday vacation, a romantic weekend getaway or just a mid-week escape from
Boston or New York, the Miami Plaza Hotel has a lot to offer.</p>
			</div>

        	<div class="col-md-4">
				<div class="service-block sb-border sb-default animation fadeInUp">
                	<div class="service-block-icon text-center">
						<div class="icon-wrapper icon-border-radius fa-3x color-default">
							<i class="fa fa-building-o"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>1. Accomodation</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                    	<a href="#" class="link-icon">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

        	<div class="col-md-4">
				<div class="service-block sb-border sb-default animation fadeInUp">
                	<div class="service-block-icon text-center">
						<div class="icon-wrapper icon-border-radius fa-3x color-default">
							<i class="fa fa-cutlery"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>2. Food and Drink</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                    	<a href="#" class="link-icon">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

         	<div class="col-md-4">
				<div class="service-block sb-border sb-default animation fadeInUp">
                	<div class="service-block-icon text-center">
						<div class="icon-wrapper icon-border-radius fa-3x color-default">
							<i class="fa fa-bullhorn"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>3. Events</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                    	<a href="#" class="link-icon">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

		</div>
    </div>

    <div class="fullsize padding-none"> <!-- Container Full Size -->

		<div class="parallax-wrapper parallax-background12" data-stellar-background-ratio="0.3" >

			<div class="parallax-wrapper padding-large">
        		<div class="container">

				<div class="row">
        			<div class="col-md-12">

						<div class="row">

                        	<div class="col-md-7">

                            	<div class="blank-spacer margin-top10 margin-bottom10"></div>
								<div class="flex-video vimeo animation fadeInUp">
									<iframe src="http://player.vimeo.com/video/46632171?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1280" height="720"></iframe>
	                        	</div>
                                <div class="blank-spacer margin-top10 margin-bottom10"></div>

							</div>

                        	<div class="col-md-5">

                            	<div class="blank-spacer margin-top20 margin-bottom20"></div>
								<h1 class="title-small color-white text-right animation fadeInLeft">Watch Video Tour</h1>
                                <p class="lead text-right color-white animation fadeInRightBig"><strong>SmartOn</strong> Turpis venenatis at laoreet. Etiam lorem nulla fuviverra minim sed metus egestas sapien conseto actetuer ac etiam. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                                <div class="blank-spacer margin-top30 margin-bottom30"></div>

							</div>

						</div>

                    </div>
				</div>

                </div>
			</div>

		</div>

    </div><!-- /Container Full Size-->

	<div class="container container-inner">
		<div class="row">

			<div class="col-md-8 col-md-offset-2">
                <h2 class="title-small text-center title-color animation fadeInDownBig">Amazing Accomodations</h2>
                <p class="text-center lead">Find your favorite room and enjoy your gateway! Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.
</p>
			</div>

        	<div class="col-md-4">
				<div class="service-block sb-default animation fadeInLeft">
					<img alt="" class="img-responsive img-thumbnail img-rounded shadow-drop-medium aligncenter" src="img/demo/converting/deluxe.jpg">
                    <h4 class="title-color">Deluxe Room</h4>
                    <div class="service-block-content">
                		<p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                    </div>
					<ul class="fa-ul list-inline">
						<li><i class="fa-li fa fa-caret-right"></i>Kingsize Bed</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Hotspot and TV Cable</li>
                        <li><i class="fa-li fa fa-caret-right"></i>SeaSide View</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Free Lunch and Dinner</li>
					</ul>
                </div>
            </div>

        	<div class="col-md-4">
				<div class="service-block sb-default animation fadeInUp">
					<img alt="" class="img-responsive img-thumbnail img-rounded shadow-drop-medium aligncenter" src="img/demo/converting/luxury.jpg">
                    <h4 class="title-color">Luxury Room</h4>
                    <div class="service-block-content">
                		<p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                    </div>
					<ul class="fa-ul list-inline">
						<li><i class="fa-li fa fa-caret-right"></i>Kingsize Bed</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Hotspot and TV Cable</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Sea View</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Free Lunch and Dinner</li>
					</ul>
                </div>
            </div>

         	<div class="col-md-4">
				<div class="service-block sb-default animation fadeInRight">
					<img alt="" class="img-responsive img-thumbnail img-rounded shadow-drop-medium aligncenter" src="img/demo/converting/family.jpg">
                    <h4 class="title-color">Family Apartment</h4>
                    <div class="service-block-content">
                		<p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat.Curabitur eleifend mi eget tincidunt porta.</p>
                    </div>
					<ul class="fa-ul list-inline">
						<li><i class="fa-li fa fa-caret-right"></i>1 Queens Bed, 2 Single Bed</li>
                        <li><i class="fa-li fa fa-caret-right"></i>2 Rooms connected</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Hotspot and TV Cable</li>
                        <li><i class="fa-li fa fa-caret-right"></i>Sea View</li>
					</ul>
                </div>
            </div>

		</div>
    </div>

</div>
<!-- /Main Container -->

{% endblock %}