{% extends 'base.html' %}

{% load static %}

{% block home %}

    
<!-- Slider Container -->
<div class="slider-wrapper">

    <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>
                    <li data-transition="slotslide-horizontal" data-slotamount="5" data-masterspeed="700" >
                        <img src="{% static 'img/theme/revolution/dummy.png' %}"
                             alt="slider1-bg"
                             data-lazyload="{% static 'img/clube/galeria/plano_piloto_estavos (8).jpg' %}"
                             data-bgposition="bottom center"
                             data-kenburns="on"
                             data-duration="9000"
                             data-ease="Linear.easeNone"
                             data-bgfit="110"
                             data-bgfitend="100"
                             data-bgpositionend="top center">
                        <div class="caption very-large-strong color-default bg-color-white customin customout start"
                             data-x="center"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300" >
                            Aulas de Xadrez para Crianças
                        </div>
                        <div class="caption big-light color-white customin customout"
                            data-x="center"
                            data-y="290"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-start="1200"
                            data-speed="600"
                            data-easing="Linear.easeNone"
                            data-endspeed="600"
                            data-endeasing="Linear.easeNone">
                            <strong>Turmas no Plano Piloto, Águas Claras e Samambaia</strong>
                        </div>
                        <div class="caption big-light color-white bg-color-default customin customout"
                            data-x="center"
                            data-y="360"
                            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-start="1800"
                            data-speed="600"
                            data-easing="Linear.easeNone"
                            data-endspeed="600"
                            data-endeasing="Linear.easeNone">
                            Venha para o Clube de Xadrez da ESTAVOS!
                        </div>
                        <div class="caption customin customout start"
                             data-x="center"
                             data-y="450"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <a class="btn btn-primary btn-lg margin-top20" href="/clube-de-xadrez/">
                                QUERO SABER MAIS! <i class="fa fa-share fa-margin-left"></i>
                            </a>
                        </div>
                    </li>
                    <!--<li data-transition="slotslide-vertical" data-slotamount="5" data-masterspeed="700" >
                        <img src="{% static 'img/theme/revolution/dummy.png' %}"
                             alt="slider3-bg"
                             data-lazyload="{% static 'img/slider/home-slider-2.jpg' %}"
                             data-bgposition="center right"
                             data-kenburns="on"
                             data-duration="9000"
                             data-ease="Linear.easeNone"
                             data-bgfit="116"
                             data-bgfitend="100"
                             data-bgpositionend="center left">
                        <div class="caption very-large-strong color-white randomrotate"
                             data-x="center"
                             data-y="230"
                             data-speed="900"
                             data-start="800"
                             data-easing="Power4.easeOut"
                             data-endspeed="600"
                             data-endeasing="Power0.easeIn">
                            CLUBE DE XADREZ
                        </div>
                        <div class="caption medium-light text-center bg-color-default color-white randomrotate"
                             data-x="center"
                             data-y="310"
                             data-speed="900"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-endspeed="600"
                             data-endeasing="Power0.easeIn">
                            Para atletas de todos os níveis que desejam praticar<br/>
                            e evoluir com um de nossos experientes instrutores!
                        </div>
                        <div class="caption customin customout start"
                             data-x="center"
                             data-y="400"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <a class="btn btn-primary btn-lg margin-top20" href="/clube-de-xadrez/">
                                QUERO SABER MAIS! <i class="fa fa-share fa-margin-left"></i>
                            </a>
                        </div>
                        <div class="caption very-large-strong color-white fade"
                             data-x="center"
                             data-y="100"
                             data-speed="900"
                             data-start="1200"
                             data-easing="Power4.easeOut"
                             data-endspeed="600"
                             data-endeasing="Power0.easeIn">
                            <img src="{% static 'img/slider/knight-chess-icon.png' %}" width="130" height="130" alt="ESTAVOS">
                        </div>
                    </li>-->
                    <li data-transition="parallaxtotop" data-slotamount="5" data-masterspeed="700">
                        <img src="{% static 'img/theme/revolution/dummy.png' %}"
                             alt="slider2-bg"
                             data-lazyload="{% static 'img/slider/home-slider-3.jpg' %}"
                             data-bgposition="center center"
                             data-kenburns="on"
                             data-duration="8000"
                             data-ease="Linear.easeNone"
                             data-bgfit="110"
                             data-bgfitend="100"
                             data-bgpositionend="center center">
                        <div class="caption very-large-light color-white customin customout start"
                            data-x="center"
                            data-y="center"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="800"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">
                            <strong>Especialistas no Esporte dos Reis</strong>
                        </div>
                        <div class="caption medium-strong color-white skewfromtop"
                            data-x="center"
                            data-y="390"
                            data-speed="400"
                            data-start="3800"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Nós amamos Xadrez e você também vai amar!
                        </div>
                        <div class="caption medium-strong color-white text-center bg-color-default skewfromleft"
                            data-x="200"
                            data-y="150"
                            data-speed="400"
                            data-start="1200"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Escolas
                        </div>
                        <div class="caption medium-strong color-white bg-color-purple lft"
                            data-x="center"
                            data-y="100"
                            data-speed="400"
                            data-start="1600"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Condomínios
                        </div>
                        <div class="caption medium-strong color-white bg-color-orange skewfromright"
                            data-x="right"
                            data-hoffset="-204"
                            data-y="150"
                            data-speed="400"
                            data-start="2000"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Aulas particulares
                        </div>
                        <div class="caption medium-strong color-white bg-color-info skewfromright"
                            data-x="right"
                            data-hoffset="-204"
                            data-y="bottom"
                            data-voffset="-150"
                            data-speed="400"
                            data-start="2400"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Torneios
                        </div>
                        <div class="caption medium-strong color-white bg-color-success lfb"
                            data-x="center"
                            data-y="bottom"
                            data-voffset="-75"
                            data-speed="400"
                            data-start="2800"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Arbitragem
                        </div>
                        <div class="caption medium-strong color-white bg-color-danger skewfromleft"
                            data-x="200"
                            data-y="bottom"
                            data-voffset="-150"
                            data-speed="400"
                            data-start="3200"
                            data-easing="Cube.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn">
                            Consultoria
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
    </div>

</div>
<!-- /Slider Container -->

<!-- Main Container -->
<div class="main-wrapper">

    <div class="fullsize fullsize-background"> <!-- Full Size Container -->
		<div class=" container container-inner">

		<div class="row">

        	<div class="col-sm-6 col-md-3">
				<div class="service-block sb-default">
                	<div class="service-block-icon text-center animation bounceIn animation-active">
						<div class="icon-wrapper icon-full-round fa-2x bg-color-default">
							<i class="fa fa-th-large color-white"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>Curso de Xadrez para Iniciantes</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p>Aprenda Xadrez em apenas <strong>8 encontros</strong>! Muito mais do que o básico, conheça as técnicas usadas
                            pelos campeões para sair na frente de seus adversários!</p>
                    	<a class="link-icon" href="{% url 'courses:home' %}">Saiba mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

        	<div class="col-sm-6 col-md-3">
				<div class="service-block sb-success">
                	<div class="service-block-icon text-center animation bounceIn animation-active">
						<div class="icon-wrapper icon-full-round fa-2x bg-color-success">
							<i class="fa fa-flag-checkered color-white"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>Clube de Xadrez</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p>Se você já sabe o básico de Xadrez e quer <strong>evoluir</strong>, aqui é o lugar!</p>
                        <p>Venha praticar e aprender com os melhores!</p>
                        <p>Encontros livres para prática e de estudo com campeões!</p>
                    	<a class="link-icon success" href="/clube-de-xadrez/">Saiba mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

         	<div class="col-sm-6 col-md-3">
				<div class="service-block sb-orange">
                	<div class="service-block-icon text-center animation bounceIn animation-active">
						<div class="icon-wrapper icon-full-round fa-2x bg-color-orange">
							<i class="fa fa-home color-white"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>Aulas Particulares</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p>Conheça nosso <strong><em>Coaching</em></strong> de Xadrez!</p>
                        <p>Aqui nós vamos avaliar seu nível, selecionar o melhor instrutor de acordo com seus objetivos
                            e montar um plano de estudo personalizado.</p>
                        <p>Nosso compromisso é com seu aprendizado!</p>
                    	<a class="link-icon orange" href="/aulas-particulares/">Saiba mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

         	<div class="col-sm-6 col-md-3">
				<div class="service-block sb-purple">
                	<div class="service-block-icon text-center animation bounceIn animation-active">
						<div class="icon-wrapper icon-full-round fa-2x bg-color-purple">
							<i class="fa fa-puzzle-piece color-white"></i>
						</div>
                    </div>
                    <div class="service-block-title text-center">
            			<p>Xadrez na Escola</p>
                    </div>
                    <div class="service-block-content text-center">
                		<p><strong>mais que você tente não consegue fazer o Xadrez "pegar" na sua escola?</strong></p>
                        <p>Nós fazemos por você! A ESTAVOS possui um método exclusivo para implantar a cultura do Xadrez na sua escola!</p>
                    	<a class="link-icon purple" href="/xadrez-na-escola/">Saiba mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

		</div>

        </div>
    </div>

	<div class="container container-inner">
		<div class="row">

			<div class="col-md-8 col-md-offset-2">
                <div class="hr-icon"><hr><i class="fa fa-users icon-divider color-default animation fadeInUp"></i></div>
                <h2 class="title-small text-center title-color animation fadeInDownBig">Xadrez para todos!</h2>
                <p class="text-center lead">O Xadrez muda mentes, mentes transformam o mundo!</p>
                <p class="text-center lead">Qual o seu perfil? Temos certeza que o Xadrez pode ajudar você!</p>
			</div>

            <div class="row">
                <div class="col-md-6">
                    <div class="service-block sb-border sb-success animation fadeInUp">
                        <div class="service-block-icon text-center">
                            <div class="icon-wrapper icon-border-round fa-3x color-success">
                                <i class="fa fa-level-up"></i>
                            </div>
                        </div>
                        <div class="service-block-title text-center">
                            <p>Sou pai e quero desenvolver o potencial do meu filho</p>
                        </div>
                        <div class="service-block-content text-center">
                            <p>Mesmo se dedicando aos estudos seu filho sofre com baixo rendimento escolar,
                                déficit de atenção ou dificuldade de concentração?</p>
                            <p>Ou seu filho possui um desempenho acima da média?</p>
                            <p>Em ambos os casos o Xadrez pode ajudá-lo a desenvolver seu potencial</p>
                            <!--<a href="#" class="link-icon success">Saiba mais <i class="fa fa-angle-right"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="service-block sb-border sb-warning animation fadeInUp">
                        <div class="service-block-icon text-center">
                            <div class="icon-wrapper icon-border-radius fa-3x color-warning">
                                <i class="fa fa-book"></i>
                            </div>
                        </div>
                        <div class="service-block-title text-center">
                            <p>Sou jovem e quero estar preparado para o vestibular</p>
                        </div>
                        <div class="service-block-content text-center">
                            <p>Durante uma prova de vestibular, nós lidamos com pressões de tempo, resultado, concentrarção,
                            memória, dentre outros.</p>
                            <p>O Xadrez pode ajudar você a se preparar para momentos como esse, em que é exigido de nosso cérebro
                            grandes esforços para realização de uma tarefa.</p>
                            <!--<a href="#" class="link-icon warning">Saiba mais <i class="fa fa-angle-right"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="service-block sb-border sb-orange animation fadeInUp">
                        <div class="service-block-icon text-center">
                            <div class="icon-wrapper icon-border-radius fa-3x color-orange">
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="service-block-title text-center">
                            <p>Sou adulto e quero destaque profissional ou passar em concursos</p>
                        </div>
                        <div class="service-block-content text-center">
                            <p>Mesmo com muito estudo você ainda tem dificuldades para memorizar conteúdos,
                                raciocionar com agilidade ou se concentrar?</p>
                            <p>O Xadrez trabalha habilidades como atenção, concentração, raciocínio lógico, memória,
                                organização de ideias, tomada de decisões, autocontrole, disciplina, perseverança, dentre outras.</p>
                            <p>APRENDA conosco e mude sua vida!</p>
                            <!--<a href="#" class="link-icon orange">Saiba mais <i class="fa fa-angle-right"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="service-block sb-border sb-default animation fadeInUp">
                        <div class="service-block-icon text-center">
                            <div class="icon-wrapper icon-border-radius fa-3x color-default">
                                <i class="fa fa-heart"></i>
                            </div>
                        </div>
                        <div class="service-block-title text-center">
                            <p>Estou na terceira idade e quero manter minha mente ativa e me prevenir contra o Alzheimer</p>
                        </div>
                        <div class="service-block-content text-center">
                            <p>
                                <a href="https://www.nia.nih.gov/alzheimers/publication/2012-2013-alzheimers-disease-progress-report/assessing-risk-factors-cognitive/#cognitive"
                                   target="_blank">Pesquisas apontam</a> que para manter o cérebro saudável é recomendável praticar atividades
                            intelectualmente estimulantes tal como o Xadrez.</p>
                            <p>A ESTAVOS conta com cursos regulares de Xadrez para Iniciantes, Clube para prática e Aulas particulares</p>
                            <p><strong>O Xadrez é a ginástica da inteligência!</strong></p>
                            <!--<a href="#" class="link-icon">Saiba mais <i class="fa fa-angle-right"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>


		</div>
    </div>

    <div class="container container-inner"> <!-- Container -->

		<div class="row">
			<div class="col-md-12">
				<h2 class="title-color heading-single text-center"><span>Nossos parceiros <br><small>Gente como a gente, que ama e luta pelo Xadrez!</small></span></h2>

                <div class="col-md-offset-3">
                    <div id="gallery-container" class="simple-gallery">
                        <a href="http://www.sistemafibra.org.br/sesi/" target="_blank" class="am-wrapper" style="width: 154px; height: 118px; margin: 0px;"><img src="{% static 'img/partners/logo-sesi.jpg' %}" alt="SESI - Serviço Social da Indústria" style="display: inline; width: 154px; height: 118px; left: 0px; top: 0px;" class="montage"></a>
                        <a href="http://ascadexadrez.wix.com/ascade" target="_blank" class="am-wrapper" style="width: 154px; height: 118px; margin: 0px;"><img src="{% static 'img/partners/logo-ascade.jpg' %}" alt="" style="display: inline; width: 154px; height: 118px; left: 0px; top: 0px;" class="montage"></a>
                        <a href="http://www.ligabrasileiradexadrez.com.br/" target="_blank" class="am-wrapper" style="width: 154px; height: 118px; margin: 0px;"><img src="{% static 'img/partners/logo-lbx.jpg' %}" alt="" style="display: inline; width: 154px; height: 118px; left: 0px; top: 0px;" class="montage"></a>
                        <a href="http://www.fbx.org.br/" target="_blank" class="am-wrapper" style="width: 154px; height: 118px; margin: 0px;"><img src="{% static 'img/partners/logo-fbx.jpg' %}" alt="" style="display: inline; width: 154px; height: 118px; left: 0px; top: 0px;" class="montage"></a>
                    </div>
                </div>

			</div>
        </div>

    </div>

</div>
<!-- /Main Container -->

{% endblock %}