{% extends 'base.html' %}

{% load static %}

{% block title %}IRT Brasiliense de Xadrez Amador 2016{% endblock title %}

{% block meta_title %}IRT Brasiliense de Xadrez Amador 2016{% endblock meta_title %}

{% block all_content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Title -->
        <div class="row">
          <div class="col-md-12">
            <h1 class="title-color text-center"><strong>IRT Brasiliense de Xadrez Amador 2016</strong></h1>
          </div>
        </div>
        <!-- /Title -->

        <div class="container container-inner">
          <div class="row">
            <div class="col-md-8">
              <h2 class="title-color heading-single text-center"><span>Inscrições</span></h2>
              <p>Enviar um email para <strong>torneios@estavos.com</strong> com o assunto "<strong>Inscrição IRT Brasiliense Amador 2016 - Sub-2200</strong>" contendo os dados à seguir:</p>
              <ul>
                <li>Nome completo</li>
                <li>Email</li>
                <li>Data de nascimento</li>
                <li>ID CBX</li>
                <li>ID FIDE (se tiver)</li>
                <li>Telefone para contato (opcional)</li>
              </ul>

              <p>Efetuar o depósito da taxa de inscrição na conta à seguir:</p>

              <p><strong>Banco</strong>: Caixa Econômica Federal</p>
              <ul>
                <li><strong>Ag</strong>: 1803</li>
                <li><strong>Cc</strong>: 227-8</li>
                <li><strong>Op</strong>: 003</li>
                <li>ESTAVOS Organizadora de Eventos Desportivos</li>
              </ul>

              <p><strong>Enviar o comprovante de depósito para torneios@estavos.com</strong>.</p>
            </div>
            <div class="col-md-4">
              <!-- sidebar -->
              <div class="sidebar">

                <div class="sidebar-widget">
                  <h3 class="title-color">Objetivo</h3>
                  <ul>
                    <li>Torneio válido para o título de <strong>Campeão Brasiliense de Xadrez Amador 2016</strong>;</li>
                    <li>Classificar <strong>02 jogadores</strong> (os dois melhores classificados federados pelo Distrito Federal) para a final
                    do <strong>Campeonato Brasiliense Absoluto de Xadrez 2016</strong>;</li>
                  </ul>
                </div>

                <div class="sidebar-widget">
                  <h4 class="box-icon-title margin-top20 margin-bottom20">
                    <span class="icon-wrapper icon-border-round color-default"><i class="fa fa-home"></i></span>
                    Quando?
                  </h4>
                  <p>O campeonato acontece nos dias <strong>17, 18 e 19 de Junho de 2016</strong></p>
                </div>

                <div class="sidebar-widget">
                  <h4 class="box-icon-title margin-top20 margin-bottom20">
                    <span class="icon-wrapper icon-border-round color-default"><i class="fa fa-home"></i></span>
                    Onde?
                  </h4>
                  <p><a href="http://www.venancioshopping.com.br/" title="Venâncio Shopping">Venâncio Shopping</a> - Piso P2 (2ºSS)</p>
                </div>

                <div class="sidebar-widget">
                  <h4 class="box-icon-title margin-top20 margin-bottom20">
                    <span class="icon-wrapper icon-border-round color-default"><i class="fa fa-home"></i></span>
                    Regulamento
                  </h4>
                  <a href="https://drive.google.com/file/d/0Bw4yZQsk46i1bzFQZG1yMmNrZVE/view?usp=sharing"
                     class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> Download do regulamento</a>
                </div>

              </div>
              <!-- /sidebar -->
            </div>
          </div>
        </div>

        <div class="container container-inner">
          <!-- Premiação -->
          <h2 class="title-color heading-single text-center"><span>Premiação</span></h2>
          <div class="row">
              <div class="col-md-4">
                <div class="service-block sb-orange">
                  <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-orange">
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="service-block-title">
                    <p class="text-center">Título de Campeão Brasiliense 2016 u2200</p>
                  </div>
                  <div class="service-block-content">
                    <p class="text-center">Torneio válido para o título de <strong>Campeão Brasiliense de Xadrez Amador 2016</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-block sb-default">
                  <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-default">
                      <i class="fa fa-sitemap"></i>
                    </div>
                  </div>
                  <div class="service-block-title">
                    <p class="text-center">2 Vagas para a final do Campeonato Brasiliense Absoluto de Xadrez 2016</strong></p>
                  </div>
                  <div class="service-block-content">
                    <p class="text-center">Os dois primeiros colocados levam uma vaga cada para a Final do <strong>Campeonato Brasiliense de Xadrez Absoluto 2016</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-block sb-purple">
                  <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-purple">
                      <i class="fa fa-trophy"></i>
                    </div>
                  </div>
                  <div class="service-block-title">
                    <p class="text-center">Troféus e Medalhas</p>
                  </div>
                  <div class="service-block-content">
                    <p class="text-center">Premiação <strong>até o 10º colocado</strong> e ainda premiação especial para <strong>melhor feminino,
                      sub-18, sub-12, melhor jogador com rating abaixo de 2000 e melhor jogador sem rating</strong>!</p>
                  </div>
                </div>
              </div>
            </div>
          <!-- /Premiação -->
        </div>

        <div class="container container-inner">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title-color heading-single text-center"><span>Programação</span></h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2">17 de Junho de 2016</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>18h30</td>
                    <td>Congresso Técnico</td>
                  </tr>
                  <tr>
                    <td>18h45</td>
                    <td>Emparceiramento da 1º rodada</td>
                  </tr>
                  <tr>
                    <td>19h00</td>
                    <td>1º rodada</td>
                  </tr>
                </tbody>
              </table>
              <div class="blank-spacer padding-small"></div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2">18 de Junho de 2016</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10h00</td>
                    <td>2º rodada</td>
                  </tr>
                  <tr>
                    <td>15h00</td>
                    <td>3º rodada</td>
                  </tr>
                  <tr>
                    <td>19h00</td>
                    <td>4º rodada</td>
                  </tr>
                </tbody>
              </table>
              <div class="blank-spacer padding-small"></div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2">19 de Junho de 2016</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>09h00</td>
                    <td>5º rodada</td>
                  </tr>
                  <tr>
                    <td>13h00</td>
                    <td>6º rodada</td>
                  </tr>
                  <tr>
                    <td>16h20</td>
                    <td>Premiação</td>
                  </tr>
                  <tr>
                    <td>16h45</td>
                    <td>Encerramento</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <h2 class="title-color heading-single text-center"><span>Informações gerais</span></h2>

              <div id="accordion" class="panel-group accordion">
                <div class="panel">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed-icon">
                        <small>Sistema de disputa</small>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse in" id="collapseOne" style="height: auto;">
                    <div class="panel-body">
                      <p>Sistema suíço em 6 rodadas</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed-icon collapsed">
                        <small>Ritmo de jogo</small>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                    <div class="panel-body">
                      <p><strong>60′ KO + 30″ de bonus por lance no relógio digital</strong> (preferência) ou
                        <strong>90' KO no relógio mecânico</strong></p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                    <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
                      <small>Equipe de arbitragem</small>
                    </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseThree">
                    <div class="panel-body">
                      <ul>
                        <li><strong>AN</strong> Westerley Batista Campos</li>
                        <li><strong>AR</strong> Hugo Leonardo J. Ribeiro Alves</li>
                        <li><strong>AA</strong> Bruno Barbosa Bernardo da Silva</li>
                        <li><strong>AA</strong> Carlos Valcarcel Vladimir Vagas Bozo</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed collapsed-icon">
                      <small>Accordion Item 4</small>
                    </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseFour">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut commodo consequat.</p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock all_content %}

