{% extends 'base.html' %}

{% load static %}

{% block meta_title %}Clube de Xadrez em Brasília - DF{% endblock %}

{% block title %}Clube de Xadrez{% endblock title %}

{% block all_content %}

    <div class="container container-inner"> <!-- Container -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="title-small text-center title-color heading-single animation fadeInDown animation-active">
                    <span><strong>Aulas de Xadrez</strong> para crianças em <strong>Brasília - DF</strong></span>
                </h2>
                <p class="lead text-center">
                    <span class="title-color"><strong>Prepare-se para as competições!</strong></span>
                     Treine com nossos campeões e seja um deles!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-block sb-orange">
                    <div class="service-block-icon text-center animation rotateIn animation-active">
                        <div class="icon-wrapper icon-full-round fa-2x bg-color-orange">
                            <i class="fa fa-info color-white"></i>
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Como funciona?</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>
                            O <strong>Clube de Xadrez da ESTAVOS</strong> é um espaço para crianças
                            desenvolverem suas habilidades mentais enquanto se diverte
                            com o milenar Esporte dos Reis.
                        </p>
                        <p>
                            O aluno tem direito a <strong>uma aula semanal</strong> com um de nossos
                        instrutores campeões onde a cada encontro uma nova técnica
                        será ensinada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block sb-default">
                    <div class="service-block-icon text-center animation rotateIn animation-active">
                        <div class="icon-wrapper icon-full-round fa-2x bg-color-default">
                            <i class="fa fa-thumbs-o-up color-white"></i>
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Nosso método</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>A ESTAVOS acredita que o Xadrez é mais que
                            um jogo. É uma <strong>ciência, arte, esporte</strong> e
                            também um <strong>estilo de vida</strong>. Além das habilidades que
                            o esporte dos reis trabalha como <strong>memória,
                            raciocínio lógico, concentração, tomada de decisão</strong>,
                            dentre outros, no clube trabalharemos os aspectos filosóficos do jogo,
                            além de valores importantes também para a vida.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block sb-purple">
                    <div class="service-block-icon text-center animation rotateIn animation-active">
                        <div class="icon-wrapper icon-full-round fa-2x bg-color-purple">
                            <i class="fa fa-star color-white"></i>
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Quer se destacar? treine o cérebro!</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>
                            O <strong>Clube de Xadrez</strong> é como uma academia de ginástica,
                            a diferença é que aqui nós <strong>malhamos o cérebro</strong>.
                            O Xadrez é uma das melhores atividades para o cérebro
                            independente de idade, mas quando estamos falando das
                            crianças esses benefícios se multiplicam!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullsize padding-none"> <!-- Container Full Size -->

		<div data-stellar-background-ratio="0.6" class="parallax-wrapper parallax-background-clube" style="background-position: 0% -50.9867px;">

			<div class="parallax-wrapper padding-large">
        		<div class="container">

				<div class="row">
        			<div class="col-md-12">

						<div class="row">

                        	<div class="col-md-6 col-md-offset-6">

                            	<div class="blank-spacer margin-top30 margin-bottom30"></div>

								<h1 class="title-medium color-white text-right animation fadeInLeft animation-active">Valores</h1>
                                <p class="lead text-right color-white animation fadeInLeftBig animation-active">
                                    <strong>Evolução, Família, Autocontrole, Persistência,
                            Criatividade, Dedicação, Respeito</strong> são nossos valores!
                                </p>
                                <div class="blank-spacer padding-small"></div>

							</div>

						</div>

                    </div>
				</div>

                </div>
			</div>

		</div>

    </div>
    <div class="container container-inner">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    O Xadrez é o <strong>esporte da mente</strong> consagrado por uma infinidade
                        de pesquisas no meio acadêmico devido à seus benefícios. Porém para
                        desfrutá-los é importante que o jogador saiba como conduzir corretamente
                        uma partida, que entenda <strong>técnicas e conceitos</strong> importantes
                        para seu <strong>desenvolvimento intelectual</strong> e no esporte.
                </p>
            </div>
        </div>
    </div>
    <div class="container container-inner">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="hr-icon"><hr><i class="fa fa-map-marker icon-divider color-default"></i></div>
                <h2 class="text-center title-color">Consulte nossas unidades</h2>
            </div>
        </div>

		<div class="row">

        	<div class="col-md-4">
				<div class="service-block sb-default animation fadeInLeft animation-active">
					<img src="{% static 'img/clube/faxada-estavos-plano-piloto-ascade.jpg' %}" class="img-responsive img-thumbnail img-rounded shadow-drop-medium aligncenter" alt="">
                    <h4 class="title-color">Plano Piloto</h4>
                    <div class="service-block-content">
                		<p>No coração de Brasília, localizada no Setor de Clubes Sul, Trecho 2. Em parceira com o
                            <a href="http://ascadexadrez.wixsite.com/ascade"
                               title="Núcleo de Xadrez do Clube ASCADE"
                               target="_blank">Núcleo de Xadrez do Clube ASCADE</a>
                        a ESTAVOS oferece aulas aos <strong>sábados pela manhã</strong>.</p>
                    </div>
                    <h4 class="box-icon-title margin-top10 margin-bottom10">
                        <span class="icon-wrapper icon-border-round color-default"><i class="fa fa-map-marker"></i>
                        </span>Local
                    </h4>
                    <ul class="list-divider">
                        <li>SCES Trecho 2, Conjunto 10, Lote 18</li>
                        <li>Asa Sul, Brasília - DF</li>
                        <li><a href="https://goo.gl/maps/X6WYc2J2EGy"
                               target="_blank"><strong>Como chegar</strong></a></li>
                    </ul>
                </div>
            </div>

        	<div class="col-md-4">
				<div class="service-block sb-default animation fadeInUp animation-active">
					<img src="{% static 'img/clube/faxada-estavos-sudoeste-cecan.jpg' %}" class="img-responsive img-thumbnail img-rounded shadow-drop-medium aligncenter" alt="">
                    <h4 class="title-color">Sudoeste</h4>
                    <div class="service-block-content">
                		<p>No Sudoeste também tem um Clube de Xadrez da ESTAVOS.</p>
                        <p>Em parceria com o <a href="http://cecan.com.br/"
                                                target="_blank"
                                                title="CECAN - Centro de Ensino Candanguinho">CECAN - Centro de Ensino Candanguinho</a>, oferecemos turmas às
                            <strong>terças e quintas</strong>.</p>
                    </div>
                    <h4 class="box-icon-title margin-top10 margin-bottom10">
                        <span class="icon-wrapper icon-border-round color-default"><i class="fa fa-map-marker"></i>
                        </span>Local
                    </h4>
                    <ul class="list-divider">
                        <li>SHC/SW EQSW 303/304 Nº 1</li>
                        <li>Setor Sudoeste, Brasília - DF</li>
                        <li>Inscrições na secretaria do EDUCO</li>
                        <li>(61) 3344-0402 / 3051-9265</li>
                        <li><a href="https://goo.gl/maps/FMqeTDKAe1u"
                               target="_blank"><strong>Como chegar</strong></a></li>
                    </ul>
                </div>
            </div>

         	<div class="col-md-4">
				<div class="service-block sb-default animation fadeInRight animation-active">
					<img src="{% static 'img/clube/faxada-estavos-cci-samambaia.jpg' %}" class="img-responsive img-thumbnail img-rounded shadow-drop-medium aligncenter" alt="">
                    <h4 class="title-color">Samambaia</h4>
                    <div class="service-block-content">
                		<p>A maior escola de Samambaia, o <a href="http://www.cci401.com.br/" target="_blank" title="Colégio CCI">Colégio CCI</a> também conta com Xadrez.</p>
                        <p>As turmas são para alunos e comunidade. Aulas nas <strong>terças e quintas</strong>.</p>
                    </div>
                    <h4 class="box-icon-title margin-top10 margin-bottom10">
                        <span class="icon-wrapper icon-border-round color-default"><i class="fa fa-map-marker"></i>
                        </span>Local
                    </h4>
                    <ul class="list-divider">
                        <li>QN 401, S/N</li>
                        <li>Samambaia Norte, Brasília - DF</li>
                        <li><a href="https://goo.gl/maps/4q3hASxemfP2"
                               target="_blank"><strong>Como chegar</strong></a></li>
                    </ul>
                </div>
            </div>

		</div>
    </div> <!-- Unidades -->
    <div class="container container-inner">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center">Compareça em uma de nossas unidades e faça uma <strong>Aula Experimental Grátis</strong>!</h2>
            </div>
            <div class="col-md-4">
                <a href="http://estavos.com/clube-de-xadrez/inscricao/" class="btn btn-primary btn-lg aligncenter">
                    Inscreva-se agora!
                </a>
            </div>
        </div>
    </div>
    <div class="container"> <!-- Container -->
    <div class="container container-inner">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="hr-icon"><hr><i class="fa fa-users icon-divider color-default"></i></div>
                <h2 class="text-center title-color">Turmas</h2>
            </div>
            <div class="col-md-12">
{#                <h2 class="title-color heading-single text-center"><span>Turmas</span></h2>#}


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Turma</th>
                            <th>Plano Piloto</th>
                            <th>Sudoeste</th>
                            <th>Samambaia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Peão</strong></td>
                            <td><strong>Sábados</strong>: 9:00 às 10:15</td>
                            <td>
                                <p><strong>Terças e quintas</strong>: 12h30 às 13h20</p>
                            </td>
                            <td>
                                <p><strong>Terças e quintas</strong>: 12h30 às 13h20</p>
                                <p><strong>Terças e quintas</strong>: 16h30 às 17h20</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Cavaleiro/Bispo</strong></td>
                            <td><strong>Sábados</strong>: 10:30 às 11:45</td>
                            <td>
                                <p><strong>Terças e quintas</strong>: 12h30 às 13h20</p>
                            </td>
                            <td>
                                <p><strong>Terças e quintas</strong>: 18h10 às 19h00</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service-block sb-default">
                    <div class="service-block-icon text-center animation rotateIn animation-active">
                        <div class="icon-wrapper icon-full-round fa-2x bg-color-default">
                            <img src="{% static 'img/clube/turma-peao-xadrez-estavos.jpg' %}"
                                 class="img-responsive"
                                 alt="Turma peão - Aulas de Xadrez ESTAVOS">
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Turma Peão</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>O peão é como se fosse um "faixa branca" do Xadrez. As aulas são
                        mais lúdicas e divertidas. Existe um plano de ensino focado nesse nível
                        para criar a base de jogo do enxadrista.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-block sb-default">
                    <div class="service-block-icon text-center animation rotateIn animation-active">
                        <div class="icon-wrapper icon-full-round fa-2x bg-color-default">
                            <img src="{% static 'img/clube/turma-bispo-xadrez-estavos.jpg' %}"
                                 class="img-responsive"
                                 alt="Turma bispo - Aulas de Xadrez ESTAVOS">
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Turma Bispo</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>O bispo já tem um certo conhecimento de Xadrez, a partir daqui os assuntos
                        já são mais esportivos, mas sem perder a pegada do lúdico.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-inner"> <!-- Container -->

		<div class="row">
			<div class="col-md-12">
				<h2 class="title-color heading-single text-center"><span>Nossos planos</span></h2>

					<ul class="pricing-table pricing-columns-2">
						<li class="pricing-plan">
							<ul class="pricing-container">
								<li class="pricing-title bg-color-default">
                                    <p>Mensal</p>
                                </li>
								<li class="pricing-value">
                                	<p class="value"><span>R$</span>187,50</p>
                                    <p class="period color-default">por mês</p>
                                </li>
								<li>
									<ul class="pricing-options">
                                        <li>Taxa de matrícula: <span class="color-default">R$ 75,00</span></li>
                                        <li>Aulas de <span class="color-default">1h30m</span></li>
										<li><span class="color-default">1 aula</span> por semana</li>
										<li>durante <span class="color-default">30 dias</span></li>
										<li>Aceitamos <span class="color-default">dinheiro, cartão de débito, depósito e transferência bancária</span></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="pricing-plan">
							<ul class="pricing-container">
								<li class="pricing-title bg-color-purple">
                                    <p>Semestral</p>
                                </li>
								<li class="pricing-value color-purple">
                                	<p class="value"><span>R$</span>150,00</p>
                                    <p class="period">por mês*</p>
                                </li>
								<li>
									<ul class="pricing-options">
                                        <li>Taxa de matrícula <span class="color-default">grátis</span>!</li>
										<li>Aulas de <span class="color-default">1h30m</span></li>
										<li><span class="color-default">1 aula</span> por semana</li>
										<li>durante <span class="color-default">180 dias</span></li>
										<li>* Pagamento à vista no valor de R$ 900,00 ou no cartão de crédito em <span class="color-default">6xR$ 150,00</span></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul> <!-- End ul#plans -->

			</div>
        </div>

    </div>

    <div class="container container-inner">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center">Venha e faça uma <strong>Aula Experimental Grátis</strong>!</h2>
            </div>
            <div class="col-md-4">
                <a href="http://estavos.com/clube-de-xadrez/inscricao/" class="btn btn-primary btn-lg aligncenter">
                    Inscreva-se agora!
                </a>
            </div>
        </div>
    </div>

    <div class="container container-inner">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="hr-icon"><hr><i class="fa fa-camera icon-divider color-default"></i></div>
                <h2 class="text-center title-color">Veja algumas fotos dos nossos clubes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="simple-gallery lightbox-gallery" id="gallery-container">
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-1"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (1).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (1).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-2"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (2).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (2).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-3"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (3).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (3).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-4"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (4).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (4).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-5"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (5).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (5).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-6"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (6).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (6).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-7"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (7).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (7).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-8"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (8).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (8).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-9"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (9).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (9).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Brasília - DF"
                       rel="#image-10"
                       href="{% static 'img/clube/galeria/plano_piloto_estavos (10).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Brasília - DF"
                             src="{% static 'img/clube/galeria/plano_piloto_estavos (10).jpg' %}">
                    </a>

                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-11"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (1).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (1).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-12"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (2).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (2).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-13"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (3).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (3).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-14"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (4).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (4).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-15"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (5).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (5).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-16"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (6).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (6).jpg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                       rel="#image-17"
                       href="{% static 'img/clube/galeria/aguas_claras_estavos (7).jpg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Águas Claras - DF"
                             src="{% static 'img/clube/galeria/aguas_claras_estavos (7).jpg' %}">
                    </a>

                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-18"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (1).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (1).jpeg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-19"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (2).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (2).jpeg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-20"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (3).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (3).jpeg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-21"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (4).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (4).jpeg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-22"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (5).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (5).jpeg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-23"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (6).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (6).jpeg' %}">
                    </a>
                    <a title="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                       rel="#image-24"
                       href="{% static 'img/clube/galeria/estavos_xadrez_samambaia (7).jpeg' %}">
                        <img alt="Aula de Xadrez da ESTAVOS em Samambaia - DF"
                             src="{% static 'img/clube/galeria/estavos_xadrez_samambaia (7).jpeg' %}">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-inner">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center">Venha e faça uma <strong>Aula Experimental Grátis</strong>!</h2>
            </div>
            <div class="col-md-4">
                <a href="http://estavos.com/clube-de-xadrez/inscricao/" class="btn btn-primary btn-lg aligncenter">
                    Inscreva-se agora!
                </a>
            </div>
        </div>
    </div>
{% endblock all_content %}

{% block extra_js %}
{{ block.super }}
  <!-- PhotoMontage -->
	<script type="text/javascript" src="{% static 'js/themejs/jquery.montage.min.js' %}"></script>
{% endblock %}
