{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}
<div class="photo_gallery custom">
    <ul class="gallery popup-gallery">
        {% with page.gallery.images.all as images %}
        {% for image in images %}
        <li>
        <a title="{{ image.description }}"
            rel="#image-{{ image.id }}"
            href="{{ image.file.url }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 650 500 %}">
            <div class="overlay">
                <span class="zoom">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </a>
        </li>
        {% endfor %}
        {% endwith %}
    </ul>
</div>
{% endblock %}
