{% extends 'base.html' %}

{% block title %}Ementa{% endblock title %}

{% block main %}

    <h2 class="title-color heading-single text-center"><span>Ementa</span></h2>
    <p class="lead text-center">Veja o que você vai aprender.</p>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-flag"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">O que é o Xadrez? Idéias iniciais do jogo</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Uma breve história sobre o Esporte dos Reis;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Apresentando o tabuleiro e suas Filas, Colunas e Diagonais;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Posicionamento inicial das peças;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Dinâmica dos movimentos e captura;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Movimento do Peão, o operário e sua filosofia;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Objetivo do jogo;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-arrows-alt"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">O movimento de cada tropa!</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Movimento do Bispo, o arqueiro fiel;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Movimento da Torre, a bombarda;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Movimento do Cavalo, o saltador;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Valor relativo das peças;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">Xeque e Xeque-Mate</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Movimento do Rei, o mais importante;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Movimento da Dama, a mais poderosa;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Atacando o Rei, Xeque!</li>
                        <li><i class="fa-li fa fa-check-square"></i> Como se livrar de um Xeque;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Xeque mate, renda-se majestade;</li>
                        <li><i class="fa-li fa fa-check-square"></i> A técnica fatal: Mate da Escada;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-exclamation"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">Movimentos especiais e mates elementares</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Roque, o Rei em segurança;</li>
                        <li><i class="fa-li fa fa-check-square"></i> A promoção, persistência premiada;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Mates na sétima e oitava fila;</li>
                        <li><i class="fa-li fa fa-check-square"></i> En Passant, não passes por meu ataque!</li>
                        <li><i class="fa-li fa fa-check-square"></i> O relógio de Xadrez, suas regras e utilização;</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-6 col-md-4">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-cogs"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">As fases de uma partida</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> A abertura, como começar com pé direito;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Meio-jogo, quando a tática e estratégia se desenvolvem;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Final, onde um erro pode custar toda a partida;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <!--
        <div class="col-sm-6 col-md-4">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">Normas internacionais e o relógio</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> As leis do Xadrez, o que a FIDE diz sobre o jogo;</li>
                        <li><i class="fa-li fa fa-check-square"></i> O relógio de Xadrez, suas regras e utilização;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Formatos de torneios;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Batalha orientada;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <!--
        <div class="col-sm-6 col-md-4">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">A língua internacional do Xadrez</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Notação Algébrica, o idioma do Xadrez;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Modalidades de Xadrez pelos ritmos de jogo;</li>
                        <li><i class="fa-li fa fa-check-square"></i> A partida anotada, remontando uma partida clássica;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-2">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">Graduação</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul text-center">
                        <li><i class="fa-li fa fa-check-square"></i> Entrega de certificados;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Encontro de encerramento;</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-6 col-md-4">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-cogs"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">As fases de uma partida</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> A abertura, como começar com pé direito;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Meio-jogo, quando a tática e estratégia se desenvolvem;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Final, onde um erro pode custar toda a partida;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <!--
        <div class="col-sm-6 col-md-4">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-bolt"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">Como conduzir a batalha e erros a não se cometer no começo</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Partidas miniaturas, as armadilhas que podem aparecer logo no começo;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Partidas clássicas, seguindo os passos dos mestres;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Como praticar e estudar xadrez mesmo sem parceiros;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <!--
        <div class="col-sm-6 col-md-4">
            <div class="service-block sb-default">
                <div class="service-block-icon text-center">
                    <div class="icon-wrapper icon-border-round fa-3x color-primary">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="service-block-title">
                    <p class="text-center">Graduação</p>
                </div>
                <div class="service-block-content">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i> Entrega de certificados;</li>
                        <li><i class="fa-li fa fa-check-square"></i> Encontro de encerramento;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="hr-circle-center  margin-top40 margin-bottom40">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">No curso <span class="title-color"><strong>APRENDA</strong></span> você vai aprender muito mais do que apenas um jogo,
                você irá adquirir valores reais agregados ao <span class="title-color"><strong>esporte dos reis</strong></span> que irão mudar a sua vida.</p>
        </div>

        <div class="col-md-4">
            <p class="text-center">
                <a href="{% url 'courses:list' %}" class="btn btn-primary btn-lg margin-top20">
                    Inscreva-se agora! <i class="fa fa-check fa-margin-left"></i>
                </a>
            </p>
        </div>
    </div>

{% endblock main %}