{% extends 'base.html' %}

{% block title %}Inscrição{% endblock title %}

{% block main %}

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-color heading-single text-center"><span>Curso de Xadrez para Iniciantes!</span></h1>
        </div>
    </div>
    <!-- /Title -->

    <iframe src="https://docs.google.com/forms/d/1RnwupwmPa3fK6iLuRSRTU70wnZs1JmEIpfkDZTgpSEs/viewform?embedded=true"
            width="760"
            height="850"
            frameborder="0"
            marginheight="0"
            marginwidth="0">
        Carregando…
    </iframe>
{% endblock main %}