{% extends 'base.html' %}

{% load static %}

{% block title %}Preços - Curso de Xadrez para Iniciantes{% endblock title %}

{% block main %}

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-color heading-single text-center"><span>Curso de Xadrez para Iniciantes!</span></h1>
        </div>
    </div>
    <!-- /Title -->

    <!-- Pricing table -->
    <div class="row">
			<div class="col-md-12">

                <ul class="pricing-table pricing-columns-3">
                    <li class="pricing-plan">
                        <ul class="pricing-container">
                            <li class="pricing-title bg-color-orange">
                                <div class="icon-wrapper icon-border-round fa-2x">
                                    <i class="fa fa-trophy"></i>
                                </div>
                                <p>1º Aluno</p>
                            </li>
                            <li class="pricing-value color-orange">
                                <p class="period">3 parcelas iguais de</p>
                                <p class="value color-orange"><span>R$</span> 100</p>
                                <p class="period">ou R$ 280 à vista</p>
                            </li>
                            <li>
                                <ul class="pricing-options">
                                    <li>Turmas para <span class="color-orange">adultos e crianças</span></li>
                                    <li>Entrega de <span class="color-orange">certificados</span></li>
                                    <li>1 Reposição de aula <span class="color-orange">grátis</span></li>
                                    <li>Professores <span class="color-orange">especialistas</span></li>
                                    <li>Dividimos em até <span class="color-orange">12x no cartão de crédito</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pricing-plan">
                        <ul class="pricing-container">
                            <li class="pricing-title bg-color-default">
                                <div class="icon-wrapper icon-border-round fa-2x">
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>Desconto exclusivo para parceiros*</p>
                            </li>
                            <li class="pricing-value color-default">
                                <p class="period">3 parcelas iguais de</p>
                                <p class="value"><span>R$</span> 90</p>
                                <p class="period">ou R$ 250 à vista</p>
                            </li>
                            <li>
                                <ul class="pricing-options">
                                    <li>* Desconto especial para <span class="color-default">alunos do Kumon Águas Claras Av. das Castanheiras e sócios ASCADE</span></li>
                                    <li>Turmas para <span class="color-default">adultos e crianças</span></li>
                                    <li>Entrega de <span class="color-default">certificados</span></li>
                                    <li>1 Reposição de aula <span class="color-default">grátis</span></li>
                                    <li>Professores <span class="color-default">especialistas</span></li>
                                    <li>Dividimos em até <span class="color-default">12x no cartão de crédito</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="pricing-plan">
                        <ul class="pricing-container">
                            <li class="pricing-title bg-color-purple">
                                <div class="icon-wrapper icon-border-round fa-2x">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <p>Pai ou Mãe matriculado com o filho</p>
                            </li>
                            <li class="pricing-value color-purple">
                                <p class="period">3 parcelas iguais de</p>
                                <p class="value"><span>R$</span> 50</p>
                                <p class="period">ou R$ 140 à vista</p>
                            </li>
                            <li>
                                <ul class="pricing-options">
                                    <li>Desconto de <span class="color-purple">50%!</span></li>
                                    <li>Turmas para <span class="color-purple">adultos</span></li>
                                    <li>Entrega de <span class="color-purple">certificados</span></li>
                                    <li>1 Reposição de aula <span class="color-purple">grátis</span></li>
                                    <li>Professores <span class="color-purple">especialistas</span></li>
                                    <li>Dividimos em até <span class="color-purple">12x no cartão de crédito</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul> <!-- End ul#plans -->

			</div>
        </div>
    <!-- /Pricing table -->

    <div class="row">
        <div class="col-md-8">
            <p class="lead">No <span class="title-color"><strong>Curso de Xadrez para Iniciantes</strong></span>
            você vai conhecer um universo totalmente novo por trás do milenar jogo de Xadrez.</p>
        </div>

        <div class="col-md-4">
            <p class="text-center">
                <a href="{% url 'courses:list' %}" class="btn btn-orange btn-lg margin-top20">
                    Faça sua inscrição agora! <i class="fa fa-share fa-margin-left"></i>
                </a>
            </p>
        </div>
    </div>



{% endblock main %}

